{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Campaign - Edit Detail</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <form class="form" name="campaign_form" id="campaign_form" method="POST" action="/updateCampaign"
                              enctype="multipart/form-data">
                            {% for item in view_campaign_details_data['data'] %}
                            <input type="hidden" name="campaign_id" value="{{ item['campaign_id'] }}">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="campaign_name">Campaign Name</label>
                                            <input id="campaign_name" type="text" class="form-control"
                                                   name="campaign_name" value="{{ item['campaign_name'] }}" >
                                        </div>
                                        <div class="col-md-3 my-1">
                                            <label for="from_date">Start Date</label>
                                            <input id="from_date"
                                                   class="form-control datepicker"
                                                   name="from_date" value="{{ item['from_date'] }}"
                                                   placeholder="yyyy-mm-dd"
                                                   ></div>
                                        <div class="col-md-3 my-1">
                                            <label for="to_date">End Date</label>
                                            <input id="to_date"
                                                   class="form-control datepicker"
                                                   name="to_date" value="{{ item['to_date'] }}"
                                                   placeholder="yyyy-mm-dd"
                                                   >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="budget">Budget</label>
                                            <input type="currency"
                                                   class="form-control"
                                                   name="budget"
                                                   id="budget" value="{{ item['budget'] }}"
                                                   placeholder="Budget"
                                                    oninput="change_format()"
                                            >
                                        </div>
                                        <input type="hidden" class="form-control" name="currency" id="currency" value="{{session['default_currency']}}">

                                        <div class="col-md-3 my-1">
                                            <label for="channels">Channels</label>
                                            <select class="form-control" id="channels" name="channels"
                                                    multiple="multiple" >
                                                        {% set all_channels = ['youtube','twitter','instagram','facebook'] %}
                                                        {% for channel in all_channels %}
                                                        {% if channel|string in item['channels']|string %}
                                                            <option id="{{ channel }}" value="{{ channel }}" selected>{{ channel }}</option>
                                                        {% else %}
                                                            <option id="{{ channel }}" value="{{ channel }}">{{ channel }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                             </select>
                                        </div>
                                        <div class="col-sm-3 my-1">
                                            <label for="country">Country</label>
                                            <select class="form-control" name="country" id="country" multiple data-live-search="true" data-live-search-style="begins"
                                                    >
                                                {% for itemb in regionCodes['data'] %}
                                                {% if itemb['region_code']|string in item['regions']|string %}
                                                    <option id="{{itemb['region_code']}}" value="{{ itemb['region_code'] }}" selected>{{ itemb['country_name'] }}</option>
                                                {% else %}
                                                    <option id="{{itemb['region_code']}}" value="{{ itemb['region_code'] }}">{{ itemb['country_name'] }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 my-1">
                                            <div class="form-field sliderContainer">
                                                <div class="form-group">
                                                    <label>Followers</label>
                                                    <div id="slider" class="sliderUI" data-price="false" style="margin-top:18px;"></div>
                                                </div>
                                                <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round left lower-value"
                                                       name="min_lower" value="{{item['min_lower_followers']}}" data-range="0" id="lower-value">
                                                <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round right upper-value"
                                                       name="max_upper" value="{{item['max_upper_followers']}}" data-range="100000000"
                                                       id="upper-value">
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="target_url">Target URL</label>
                                            <input type="url" id="target_url" class="form-control"
                                                   name="target_url" value="{{ item['target_url'] }}"
                                                   >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="videoCategories">Categories</label>
                                            <select class="form-control" name="video_cat" id="videoCategories" >
                                                {% for itemb in videoCategories['data'] %}
                                                {% if item['video_cat_name']|string in itemb['video_cat_name']|string %}
                                                <option id="{{itemb['video_cat_id']}}" value="{{ itemb['video_cat_id'] }}" selected>{{ itemb['video_cat_name'] }}</option>
                                                {% else %}
                                                <option id="{{itemb['video_cat_id'] }}" value="{{ itemb['video_cat_id'] }}">{{ itemb['video_cat_name'] }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="arrangements">Content Type </label>
                                            <select multiple id="arrangements" name="arrangements"
                                                    class="form-control" multiple
                                                    >
                                                <option id="Review" value="Review" {{ 'selected' if 'Review' in item['arrangements']|string else '' }}>Review</option>
                                                <option id="UnboxingGameplay" value="Unboxing / Gameplay" {{ 'selected' if 'UnboxingGameplay' in item['arrangements']|string else '' }}>Unboxing / Gameplay</option>
                                                <option id="ShoutoutMention" value="Shout out/Mention" {{ 'selected' if 'ShoutoutMention' in item['arrangements']|string else '' }}>Shout out/Mention</option>
                                                <option id="Giveaway" value="Giveaway" {{ 'selected' if 'Giveaway' in item['arrangements']|string else '' }}>Giveaway</option>
                                                <option id="VideoIntroOutro" value="Video Intro/Outro" {{ 'selected' if 'VideoIntroOutro' in item['arrangements']|string else '' }}>video Intro/Outro</option>
                                                <option id="Tutorial" value="Tutorial" {{ 'selected' if 'Tutorial' in item['arrangements']|string else '' }}>Tutorial</option>
                                                <option id="BannerplacementURLplacement" value="Banner placement / URL placement" {{ 'selected' if 'BannerplacementURLplacement' in item['arrangements']|string else '' }}>Banner placement / URL placement</option>
                                                <option id="Sponsorship" value="Sponsorship" {{ 'selected' if 'Sponsorship' in item['arrangements']|string else '' }}>Sponsorship</option>
                                                <option id="OtherExplainindescription" value="Other (Explain in description)" {{ 'selected' if 'OtherExplainindescription' in item['arrangements']|string else '' }}>Other (Explain in description)</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1 d-flex flex-column">
                                            <label for="kpis">Kpis</label>
                                            <select name="kpis" id="kpis" class="form-control" multiple >
                                                <option id="NoofClicks" value="No of Clicks" {{ 'selected' if 'NoofClicks' in item['kpis']|string else '' }}>No of Clicks</option>
                                                <option id="NewUsers" value="New Users" {{ 'selected' if 'NewUsers' in item['kpis']|string else '' }}>New Users</option>
                                                <option id="RevenueGenerated" value="Revenue Generated" {{ 'selected' if 'RevenueGenerated' in item['kpis']|string else '' }}>Revenue Generated</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="brands_classified_files">Brands Files</label>
                                            <input type="file" name="brands_classified_files"
                                                   id="brands_classified_files"
                                                   class="brands_classified_files" >
                                            <div class="displayFiles"></div>
                                        </div>
                                        <div class="col-md-12 my-1">
                                            <label>Files</label>
                                            <div class="d-block">
                                            {% set files = item['files'].split(',') %}
                                            {% for file in files %}
                                            {% set ext = file[-3:] %}
                                            <a href="../static/campaign_files/{{ file }}" download>
                                                {% if ext == "jpg" %}
                                                <i class="fa fa-file-image-o"></i>
                                                {% elif ext == "doc" %}
                                                <i class="fa fa-file-word-o"></i>
                                                {% else %}
                                                <i class="fa fa-file"></i>
                                                {% endif %}
                                            </a>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 my-1">
                                            {% if item['is_classified_post'] == 'TRUE' %}
                                            Already Posted As Classifield Ads
                                            {% else %}
                                            <input type="checkbox" class="form-check-input" id="classifiedAds"
                                                   name="is_classified_post" style="margin-left: 0rem">
                                            <label class="form-check-label"
                                                   for="classifiedAds" style="margin-left: 1.25rem">Post As
                                                Classifield Ads</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12 my-1">
                                            <label for="campaign_name">Description</label>
                                            <textarea class="form-control"
                                                      ROWS="17" id="descritpion"
                                                      name="campaign_description"
                                                      >{{ item['campaign_description'] }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <hr style="margin: 1rem 0; border-color: #d3dce9;">
                                </div>
                                <div class="col-12 my-1 d-flex justify-content-end">
                                    <button type="submit" id="savecampaign" class="btn btn-primary m-0 bg-color1">
                                        Update
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function change_format(){
        var val=document.getElementById('budget').value;
        var count=val.split(".").length-1;
        if(isNaN(val[val.length-1]) && val[val.length-1]!='.'){
            document.getElementById('budget').value=val.substring(0,val.length-1);
            return;
        }
        if(count==2){
             document.getElementById('budget').value=val.substring(0,val.length-1);
            return;
        }
        if(val.length==2 && val[0]=='{{currencySign}}'){
             document.getElementById('budget').value=''
        }
        if(val[0]!='{{currencySign}}'){
            val=document.getElementById('budget').value;
            document.getElementById('budget').value='{{currencySign}} '+val;

        }

    }
</script>
{% endblock %}