{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}

<div class="row">
    <div class="col-sm-12">
        <div class="content-header">All Campaigns</div>
        <p class="content-sub-header"></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h4 class="card-title">List</h4>
        <p></p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Campaign</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Status</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Start</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">End</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Channels</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Countries</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Influencers</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">Budget</b></th>
                    <th scope="col"><b style="font-weight: 500; font-size:16px;">ROI</b></th>
                </tr>
                </thead>
                <tbody>
                {% for item in view_campaign_data %}
                <tr>
                    <td>
                        <a href="/viewCampaignDetails/{{ item['campaign_id'] }}" class="color1">{{ item['campaign_name']|truncate(32, False, '...', 0) }}</a>
                        {% if item['status'] == 'Proposal Sent' %}
                        <!--{{ item['status'] }}-->

                        {% elif item['status'] == 'Current Partner' %}
                        <!--{{ item['status'] }}-->
                        {% elif item['campaign_status'] == 'Active' %}

                        {% else %}
                        <div class="clear">
                        <a href="/editCampaign/{{ item['campaign_id'] }}"><img src="/static/icons/edit.png" height="24px" width="24px"></a>
                        <a href="/deleteCampaign/{{ item['campaign_id'] }}"><img src="/static/icons/delete.png" height="24px" width="24px"></a>
                        </div>
                        {% endif %}

                    </td>

                    <td>
                        <span class="{{ item['campaign_status'] }}" data-toggle="tooltip" title="{{ item['campaign_status'] }}"></span>
                        <!--{{ item['campaign_status'] }}-->
                    </td>

                    <td>{{ item['from_date'] }}</td>
                    <td>{{ item['to_date'] }}</td>
                    <td>
                        {% set channels = item['channels'].split(',') %}
                        {% for channel in channels %}
                        {% if channel == 'youtube' %}
                        <a href="#" class="fa fa-youtube"></a>
                        {% elif channel == 'facebook' %}
                        <a href="#" class="fa fa-facebook-square"></a>
                        {% elif channel == 'twitter' %}
                        <a href="#" class="fa fa-twitter"></a>
                        {% elif channel == 'instagram' %}
                        <a href="#" class="fa fa-instagram"></a>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ ", ".join(item['region_name_list']) }}
                    </td>
                    <td>{{ item['no_of_influencers'] }}
                        <span class="text muted">
                                <a href="#" data-campaign-name="{{ item['campaign_name'] }}" data-campaign-id="{{ item['campaign_id'] }}" data-channels="{{ item['channels'] }}" data-video-cat-name="{{ item['video_cat_name'] }}" data-min-followers="{{ item['min_lower_followers'] }}" data-max-followers="{{ item['max_upper_followers'] }}" data-regions="{{ item['regions'] }}" class="fa fa-user-plus black search-influencers color1" data-toggle="modal" data-backdrop="true" data-target="#create_alert_modal" data-tooltip="true" title="Add Influencer" style="font-size:20px;"></a>
                            <!--<button class="btn btn-sm btn-outline-secondary fa fa-user-plus"></button>-->
                        </span>
                    </td>
                    <td class="no-wrap">{{ item['budget'] }} {{ item['currency'] }}</td>
                    <td>Coming Soon</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- Create alert Modal form-->
<div class="modal fade" id="create_alert_modal" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Search Influencer</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="/searchInfluencers" method="POST" name="form_search" id="form_search">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="campaign_name">Campaign Name</label>
                                    <input  class="form-control"  readonly="readonly" type="text" value=""  id="campaign_name">
                                </div>
                                <!--<input  class="form-control" type="hidden" value=""  id="campaign_id" name="campaign_id">-->
                                <input  class="form-control" type="hidden" value=""   name="sort_order">
                                <div class="form-group">
                                    <label for="channel">Channel</label>
                                    <select class="form-control" name="channel" style="height:35px; width:120px;">
                                        <option value="Youtube">Youtube</option>
                                        <option value="Twitter">Twitter</option>
                                        <!--<option value="Facebook">Facebook</option>-->
                                        <option value="Instagram">Instagram</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="min_lower">Min Followers</label>
                                    <input class="form-control"  type="number" value="" name="min_lower" id="min_lower" >
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="string_word">Category</label>
                                    <input class="form-control" readonly="readonly" type="text" value="" name="string_word" id="string_word">
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input class="form-control" readonly="readonly" type="text" value="" name="country" id="country">
                                </div>
                                <div class="form-group">
                                    <label for="max_upper">Max Followers</label>
                                    <input class="form-control"  type="number" value="" name="max_upper" id="max_upper" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-default bg-color1 color-white">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}