{% extends 'dashboard_layout_inf.html' %}
{{ super() }}
{% block body %}
{% set glob={} %}
<style>
    .mystyle{

    font-size:12px;
    border:1px solid #8DC7ED;
    text-align:center;
    color:#707070;

    }

.modal-dialog {
    max-width: 960px !important;
    margin-right:0px !important;

  }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Campaign Details
            <div class="btn-wrapper">
                <!-- Single Button Dropdown -->
                <div class="btn-group mr-1 mb-1">
                    <div class="input-group-btn">
                        <a href="/viewInfCampaigns"
                           class="btn btn-primary btn-sm bg-color1 mb-0">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for item in view_inf_campaign_details_data['data'] %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block campaign-item padding-top-normal">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="no-padding-bottom no-margin-bottom">{{ item['campaign_name'] }} <span class="campaign_status {{ item['campaign_status'] }}" data-toggle="tooltip" title="{{ item['campaign_status'] }}"></span></h5>
                            <hr class="divide">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="mb-1 col-xl-6">
                                    <span class="font-small-3 bold-500-letter-spacing" >Period: </span><span class="font-small-3 no-wrap">{{ item['proposal_from_date'] }} - {{ item['proposal_to_date'] }}</span>
                                </div>
                                <div class="mb-1 col-xl-6">
                                    <span class="font-small-3 bold-500-letter-spacing" style="display:block;">Channels:

                                    </span>
                                    <ul class="other-channels">
                                        {% set channels = item['proposal_channels'].split(',') %}
                                        {% for channel in channels %}
                                        {% set final_channels = channel.split('@') %}
                                        {% for item_final_channel in final_channels %}
                                        {% if item_final_channel == 'youtube' %}
                                        <li><a href="#" target="_blank"><i class="fa fa-youtube" style="font-size: 20px;"></i></a></li>
                                        {% elif item_final_channel == 'facebook' %}
                                        <li><a href="#" target="_blank"><i class="fa fa-facebook-square" style="font-size: 20px;"></i></a></li>
                                        {% elif item_final_channel == 'twitter' %}
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter" style="font-size: 20px;"></i></a></li>
                                        {% elif item_final_channel == 'instagram' %}
                                        <li><a href="#" target="_blank"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                        <!--<li><a href="#"><i class="fa fa-youtube-square-square color2"></i></a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-xl-6 col-sm-12 txt-center">
                                    <div class="engagement padding-top-8 padding-bottom-xs">
                                        <div class="rating" data-budget="{{ item['proposal_price'] }}" data-currency="{{ item['currency'] }}"> </div>
                                        <div class="rating-txt">Remuneration</div>
                                    </div>
                                </div>
                                <div class="mb-1 col-xl-6 col-sm-12 txt-center">
                                    <div class="engagement padding-top-8 padding-bottom-xs">
                                        <div class="rating">{% if item['profile_pic'] %}
                            <img  src="/static/img/{{ item['profile_pic'] }}" class="img" height="19px" width="19px">
                            {% else %}
                            <img  src="/static/img/fixed_image.png" class="img" height="19px" width="19px">
                            {% endif %}
                                        {{ item['brand_first_name'] }}</div>
                                        <div class="rating-txt">Sponsor</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-sm-6 d-flex flex-column justify-content-between">
                                    <div>
                                        <div class="font-small-3 bold-500-letter-spacing">Countries:</div>
                                        <div class="font-small-3 block" id="regionsCountries">



                                        </div>
                                    </div>
                                    <hr class="divide margin-y-md">
                                </div>
                                <div class="mb-1 col-sm-6 d-flex flex-column justify-content-between">
                                    <div>
                                    <div class="font-small-3 bold-500-letter-spacing">Categories:</div>
                                    <div class="font-small-3 block">
                                        <span class="block-xs bg-light-grey mb-1">{{ item['video_cat_name'] }}</span>
                                    </div>
                                    </div>
                                    <hr class="divide margin-y-md">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 d-flex flex-column justify-content-between">
                                    <div>
                                    <div class="font-small-3 bold-500-letter-spacing">KPI's:</div>
                                    <div class="font-small-3 block">
                                        <span class="color1">{{ item['proposal_kpis'] }}</span>
                                    </div>
                                    </div>
                                    <hr class="divide margin-y-md">
                                </div>
                                <div class="col-sm-6 d-flex flex-column justify-content-between">
                                    <div>
                                    <div class="font-small-3 bold-500-letter-spacing">Arrangements:</div>
                                    <div class="font-small-3 block">
                                        <span class="color1">

                                        {{item['proposal_arrangements']}}

                                        </span>
                                    </div></div>
                                    <hr class="divide margin-y-md">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <div class="font-small-3 bold-500-letter-spacing">Attachments:</div>
                                    <div class="font-small-3 block">
                                        {% set files = item['campaign_files'].split(',') %}
                                        {% for file in files %}
                                        {% set ext = file[-3:] %}
                                        <a href="../static/campaign_files/{{ file }}" class="color1" download>
                                            {% if ext == "jpg" %}
                                            <i class="fa fa-file-image-o"></i>
                                            {% elif ext == "doc" %}
                                            <i class="fa fa-file-word-o"></i>
                                            {% else %}
                                            <i class="fa fa-file"></i>
                                            {% endif %}
                                            {{file|truncate(16, False, '...', 0)}}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <hr class="d-xl-none d-lg-none d-md-none">

                            <div class="description">
                                <div class="row">
                                    <div class="col-12">
                                        <span class="font-small-3 bold-500-letter-spacing">Description:</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="font-small-3 campaign-description">{{ item['proposal_description'] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block campaign-item padding-top-normal">
                    <div style="background-color: white;">
                        <table class="text-center table table-bordered table-responsive-xl table-striped table-hover mystyle" style="background-color: white;">
                            <tr class="mystyle" style="color:black;">
                                <th>Sponsor</th>
                                <th>Status</th>
                                <th>Channels</th>
                                <th>Cost</th>
                                <th>Revenue</th>
                                <th>Posts</th>
                                <th>Views</th>
                                <th>Clicks</th>
                                <th>New Users</th>
                                <th>Engagement %</th>
                                <th>CPA</th>
                                <th>ROI</th>
                            </tr>

                            {% for youtube_inf_data in view_inf_campaign_details_data['data'] %}
                            <tr style="font-size:12px;color:black;">
                                <td class="align-middle">
                                    <div class="menu d-flex flex-column align-items-center">
                                        <img  src="/static/img/{{ youtube_inf_data['profile_pic'] }}" class="showSubmenu rounded-circle width-50">

                                        <div class="submenu">
                                            <div class="submenu__content">
                                            <span data-toggle="modal" data-target="#sendMessage">
                                                <a  onclick="sendMessage('{{ youtube_inf_data['user_id'] }}','{{ youtube_inf_data['email_id'] }}')" class="fa fa-envelope "  title="Message" style="position: relative; z-index: 1; font-size:14px; color:#9E57DD;"></a>
                                            </span>

                                                <!-- optional -->
                                                {% if youtube_inf_data['proposal_ref_link'] %}
                                                <span data-toggle="modal" data-target="#addReport" id="reportIcon{{ youtube_inf_data['channel_id'] }}">
                                                    <a onclick="addReport('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ youtube_inf_data['proposal_channels'] }}')" title="Add Report" ><img src="/static/icons/writing.png" height="14px" width="13px"></a>
                                                </span>
                                                <span data-toggle="modal" data-target="#edit_del_report_screen" id="editReportIcon{{ youtube_inf_data['channel_id'] }}" style="display:None;">
                                                    <a onclick="edit_del_Report('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ youtube_inf_data['proposal_channels'] }}')" title="Edit/Delete Report" ><img src="/static/icons/writing.png" height="14px" width="13px"></a>
                                                </span>
                                                <a  href="{{ youtube_inf_data['proposal_ref_link'] }}" target="_blank" class="fa fa-link "  title="Reference Link" style="position: relative; z-index: 1; font-size:14px; color:#9E57DD;"></a>
                                                {% endif %}
                                                <!-- end of optional -->

                                                <a title="Payment Feature Coming Soon" href="#"><img src="/static/icons/payment-method.png" height="14px" width="13px"></a>
                                            </div>
                                        </div>

                                        <a class="show" id="{{ session['user_id'] }}">
                                            {{ youtube_inf_data['brand_first_name'] }}
                                        </a>

                                    </div>
                                </td>

                                <td class="align-middle">
                                    {% for status in channel_status_campaign_data['data'] %}


                                        {% if youtube_inf_data['mapped_youtube_channel_id']==status['channel_id']  %}
                                        <!--{{ status['status'] }}&nbsp;<a href="/inbox/{{status['message_id']}}">inbox</a>-->
                                        {%if status['status'] == 'Added'%}
                                            {% set color = 'purple' %}
                                        {% elif status['status'] == 'Contacted'%}
                                            {% set color = 'orange' %}

                                        {% elif status['status'] == 'Negotiations'%}
                                            {% set color = 'orange' %}

                                        {% elif status['status'] == 'Proposal Sent'%}
                                            {% set color = 'lightgreen' %}

                                        {% elif status['status'] == 'Current Partner'%}
                                            {% set color = 'darkgreen' %}
                                        {% endif %}
                                        {% if status['status']!='Added' and status['status']!='Contacted' %}
                                        <span style="color:{{color}};">{{ status['status'] }}</span>&nbsp;<a href="/inbox/{{status['message_id']}}" style="display:block;color:#599ae9;" data-toggle="tooltip" title="Go to conversation"><img src="../static/images/chat-icon.jpeg" class="goto-inbox-icon far fa-comments" style="color:#a8a8a8;height:20px;margin-bottom:4px;"/></a>
                                        {% else %}
                                        <span style="color:{{color}};">{{ status['status'] }}</span>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}

                                </td>
                                <td class="align-middle">
                                    {% if youtube_inf_data['proposal_channels'] %}
                                    {% set channels = youtube_inf_data['proposal_channels'].split(',') %}
                                    {% for channel in channels %}
                                    {% set channel_final = channel.split('@') %}
                                    {% if channel_final[0] == 'youtube' %}
                                    <a href="#" class="fa fa-youtube fa-lg"></a>
                                    {% elif channel_final[0] == 'facebook' %}
                                    <a href="#" class="fa fa-facebook fa-lg " ></a>
                                    {% elif channel_final[0] == 'twitter' %}
                                    <a href="#" class="fa fa-twitter fa-lg" ></a>
                                    {% elif channel_final[0] == 'instagram' %}
                                    <a href="#" class="fa fa-instagram fa-lg " ></a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </td>
                                {% set _ = glob.update({'proposal_price': youtube_inf_data['proposal_price']}) %}
                                <td class="align-middle" >
                                    {% if youtube_inf_data['currency']=='USD' %}
                                    &#36; {{youtube_inf_data['proposal_price']}}
                                    {% endif %}
                                    {% if youtube_inf_data['currency']=='GBP' %}
                                    &#163; {{youtube_inf_data['proposal_price']}}
                                    {% endif %}
                                    {% if youtube_inf_data['currency']=='PLN' %}
                                    &#122; {{youtube_inf_data['proposal_price']}}
                                    {% endif %}
                                    {% if youtube_inf_data['currency']=='INR' %}
                                    &#8377; {{youtube_inf_data['proposal_price']}}
                                    {% endif %}
                                    {% if youtube_inf_data['currency']=='EUR' %}
                                    &#8364; {{youtube_inf_data['proposal_price']}}
                                    {% endif %}
                                </td>
                                <td class="align-middle" id="revenue_total{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="total_posts{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="total_views{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="total_clicks{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="new_users_total{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="total_eng_rate{{ session['user_id'] }}"></td>
                                <td class="align-middle" id="total_cpa{{session['user_id']}}"></td>
                                <td class="align-middle" style="color:purple;">Comming soon</td>
                            </tr>
                            {% if youtube_inf_data['proposal_channels'] %}
                            {% set channels = youtube_inf_data['proposal_channels'].split(',') %}
                            {% for channel in channels %}
                            {% set channel_final = channel.split('@') %}

                            <tr style="display:none;" class="{{ session['user_id'] }}">
                                <td>
                                    <!--<a href="#" data-toggle="tooltip" title="Add Report"><img src="/static/icons/writing.png" height="14px" width="13px"></a>-->
                                    <!--<a href="#" data-toggle="tooltip" title="Edit Report"><img src="/static/icons/edit.png" height="14px" width="13px"></a>-->
                                    <!--<a id="delReport{{ channel_final[1] }}" data-toggle="tooltip" title=" Delete Report"><img src="/static/icons/delete.png" height="14px" width="13px"></a>-->
                                </td>
                                <td></td>
                                <td id="channel">{{ channel_final[0] }}</td>
                                <td></td>
                                <td id="revenue{{ channel_final[1] }}"></td>
                                <td id="posts{{ channel_final[1] }}"></td>
                                <td id="views{{ channel_final[1] }}"></td>
                                <td id="clicks{{ channel_final[1] }}"></td>
                                <td id="new_users{{ channel_final[1] }}"></td>
                                <td id="eng_rate{{ channel_final[1] }}"></td>
                                <td></td>
                                <td>comming soon..</td>
                            </tr>

                            {% endfor %}

                            {% endif %}

                            {% endfor %}
                            <script>
                            $( document ).ready(function() {
                            var revenue_total=0;
                            var new_users_total=0;
                            var consolidated_total_posts = 0;
                            var consolidated_total_views = 0;
                            var consolidated_total_clicks = 0;
                            var consolidated_total_likes = 0;
                            var consolidated_total_comments = 0;
                            var consolidated_total_shares = 0;
                            var consolidated_total_followers = 0;
                            var consolidated_total_eng_rate = 0;
                            var consolidated_total_cpa = 0;
                                {% if bcr[0]['data']|length != 0 %}
                                <!--alert('{{ bcr[0]['data']|length }}');-->
                                {% for item in bcr %}
                                    var currency = '{{item['data'][0]['currency']}}';
                                    <!--alert(currency);-->
                                    var currency_symbol = '';
                                    if (currency == 'USD'){
                                        currency_symbol = '&#36;'
                                    }
                                    if (currency == 'GBP'){
                                        currency_symbol = '&#163;'
                                    }
                                    if (currency == 'PLN'){
                                        currency_symbol = '&#122;'
                                    }
                                    if (currency == 'INR'){
                                        currency_symbol = '&#8377;'
                                    }
                                    if (currency == 'EUR'){
                                        currency_symbol = '&#8364;'
                                    }

                                    $('#revenue{{item['data'][0]['channel_id']}}').html(currency_symbol+' '+{{ item['data'][0]['revenue_generated'] }});
                                    $('#new_users{{item['data'][0]['channel_id']}}').text({{ item['data'][0]['new_users'] }});
                                    revenue_total += parseInt({{ item['data'][0]['revenue_generated'] }});
                                    new_users_total += parseInt({{ item['data'][0]['new_users'] }});
                                 {% endfor %}
                                {% endif %}
                                <!--alert('{{ infcr[0]['data']|length }}');-->
                                <!--{% if infcr[0]['data']|length != 0 %}-->
                                <!--alert('i m inside infcr');-->
                                var total_followers=0;
                                {% for item in infcr %}
                                    var total_posts = 0;
                                    var total_views = 0;
                                    var total_clicks = 0;
                                    var total_likes = 0;
                                    var total_comments= 0;
                                    var total_shares =0;
                                    var youtube_total_followers = 0;
                                    var twitter_total_followers = 0;
                                    <!--var total_followers=0;-->
                                    var total_eng_rate = 0;
                                    var total_cpa = 0;
                                    var channel_id ='';

                                    {% for item1 in item['data'] %}
                                       total_posts += 1;
                                       total_views += parseInt({{item1['post_views']}});
                                       total_clicks += parseInt({{item1['post_clicks']}});
                                       total_likes += parseInt({{item1['post_likes']}});
                                       total_comments += parseInt({{item1['post_comments']}});
                                       total_shares += parseInt({{item1['post_shares']}});
                                       channel_id = '{{item1['channel_id']}}';

                                    <!--alert(total_posts);-->

                                    {% if item1['youtube_total_followers'] or item1['twitter_total_followers']  %}
                                        <!--alert('i m inside total followers');-->
                                        youtube_total_followers = {{item['data'][0]['youtube_total_followers']|int}};
                                        twitter_total_followers = {{item['data'][0]['twitter_total_followers']|int}};
                                        <!--alert('youtube followers ='+youtube_total_followers);-->
                                        <!--alert('twitter followers ='+twitter_total_followers);-->
                                        total_followers += youtube_total_followers+twitter_total_followers;

                                    {% endif %}
                                    {% endfor %}
                                    $('#posts'+channel_id).text(total_posts);
                                    $('#views'+channel_id).text(total_views);
                                    $('#clicks'+channel_id).text(total_clicks);


                                    consolidated_total_posts += total_posts;
                                    consolidated_total_views += total_views;
                                    consolidated_total_clicks += total_clicks;
                                    consolidated_total_likes += total_likes;
                                    consolidated_total_comments += total_comments;
                                    consolidated_total_shares += total_shares;

                                 {% endfor %}

                                <!--{% endif %}-->
                            $('#revenue_total{{session['user_id']}}').text(revenue_total);
                            $('#new_users_total{{session['user_id']}}').text(new_users_total);
                            $('#total_posts{{session['user_id']}}').text(consolidated_total_posts);
                            $('#total_views{{session['user_id']}}').text(consolidated_total_views);
                            $('#total_clicks{{session['user_id']}}').text(consolidated_total_clicks);
                            consolidated_total_cpa = new_users_total/{{glob.proposal_price}}
                            consolidated_total_cpa = consolidated_total_cpa.toFixed(2);
                            if (consolidated_total_posts != 0 && total_followers != 0){
                                consolidated_total_eng_rate = (consolidated_total_likes+consolidated_total_comments+consolidated_total_shares/consolidated_total_posts)/total_followers;
                                consolidated_total_eng_rate = consolidated_total_eng_rate.toFixed(5);
                                consolidated_total_eng_rate = consolidated_total_eng_rate*100;
                            }

                            $('#total_cpa{{session['user_id']}}').text(consolidated_total_cpa);
                            $('#total_eng_rate{{session['user_id']}}').text(consolidated_total_eng_rate);
                             });
                            </script>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}

<!-- Send message Modal form-->
<div class="modal fade" id="sendMessage" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-medium-wide modal-centered">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Send Message</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="send_message_form" action="/sendMessage" method="POST">
                <div class="modal-body">
                    <input  class="form-control" type="hidden" value="" name="channel_id" id="message_channel_id">
                    <div class="row">
                        <div class="col-12">
                            <ul class="no-list-style p-0">
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>*To :</a></span>
                                    <span class="display-block"><input type="text" class="form-control" name="to_email_id" id="to_email_id" readonly> </span>
                                </li>
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>*Subject :</a></span>
                                    <span class="display-block"><input required type="text" class="form-control" name="subject" > </span>
                                </li>
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>Message:</a></span>
                                    <span class="display-block"><textarea class="form-control" name="message"></textarea> </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- add report Modal form-->
<div class="modal fade" id="addReport" role="dialog"  data-backdrop="true">
    <div class="modal-dialog modal-centered modal-wide modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Add Report</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--<form name="add_inf_report_form" id="inf_report_form" action="/saveInfReport" method="POST">-->
            <div class="modal-body">
                <!--<input type="hidden" name="campaign_id" id="inf_report_campaign_id" value="">-->
                <div class="row">
                    <ul class="nav nav-tabs" id="inf_report_tabs">

                    </ul>
                    <div class="tab-content">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn-sm btn" data-dismiss="modal">Save</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>


<!-- edit report Modal form-->
<div class="modal fade" id="edit_inf_Report_modal" role="dialog"  data-backdrop="true">
    <div class="modal-dialog modal-top modal-wide modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Edit</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" id="edit_inf_report">

                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="submit"  class="btn btn-default">Save</button>-->
            <!--</div>-->

        </div>
    </div>
</div>


<!-- add report Modal form-->
<div class="modal fade" id="edit_del_report_screen" role="dialog"  data-backdrop="false">
    <div class="modal-dialog modal-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Alert</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!--<input type="hidden" name="campaign_id" id="brand_report_campaign_id" value="">-->
                <div class="row" style="font-size:12px; padding:10px;">
                    You have successfully added a Report. To make further changes select following options:
                </div>
            </div>
            <div class="modal-footer">
                <a id="editReport" data-toggle="tooltip" title="Edit Report"><img src="/static/icons/edit.png" height="24px" width="23px"></a>
                <a id="delReport" data-toggle="tooltip" title=" Delete Report"><img src="/static/icons/delete.png" height="24px" width="23px"></a>
            </div>
        </div>
    </div>
</div>


<script>
    <!--$(document).ready(function () {-->
        <!--$(".nav-link").on('click', function () {-->
            <!--var id = $(this).attr('href');-->
            <!--&lt;!&ndash;alert(id);&ndash;&gt;-->
            <!--$(this).addClass('active');-->
            <!--&lt;!&ndash;$(this).closest().removeClass('active');&ndash;&gt;-->
            <!--});-->
    <!--});-->
</script>
<script>
    $(".show").click(function(){
        var channel_id = $(this).attr("id");
        <!--alert(channel_id);-->
        $('tr.'+channel_id).slideToggle("slow");
    });

    $(document).ready(function(){
        var currencyList={"EUR":"€","GBR":"£","INR":"₹","USD":"$"}
        var rating=$('.rating')
        budget=rating[0].dataset.budget;
        currency=rating[0].dataset.currency;
        rating[0].innerText=currencyList[currency]+" "+Number(budget).toFixed(2)

        $("#send_message_form").submit(function(e) {
            var form = $(this);
            var url = form.attr('action');
            var channel_id = $('#message_channel_id').val();
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    alert(data); // show response from the python script.
                    $('#sendMessage').modal('toggle');
                    <!--updateChannelStatusForCampaign(channel_id);-->
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });


        $(document).on('submit','#inf_report_form', function(e){
            <!--$("#inf_report_formyoutube").submit(function(e) {-->
            var form = $(this);
            var url = form.attr('action');
            alert(url);
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    if (data.results.length != 0){
                        <!--$('.tab-pane').empty();-->
                        jQuery.each(data.results, function(i, val) {
                            $('.'+val.channel_name).empty();
                        });
                        jQuery.each(data.results, function(i, val) {

                            $('#'+val.channel_name).prepend(
                                '<div class="row '+ val.channel_name +'">'+
                                '<div class="col-sm-1"><a href="'+val.link_posted+'" target="_blank"><i class="fa fa-link" style="font-size:10pt;"></i></a></div>'+
                                '<div class="col-sm-3">'+val.date_posted+'</div>'+
                                '<div class="col-sm-2">'+val.content_type+'</div>'+
                                '<div class="col-sm-1">'+val.post_clicks+'</div>'+
                                '<div class="col-sm-1">'+val.post_views+'</div>'+
                                '<div class="col-sm-1">'+val.post_likes+'</div>'+
                                '<div class="col-sm-1">'+val.post_comments+'</div>'+
                                '<div class="col-sm-1">'+val.post_shares+'</div>'+
                                '<div class="col-sm-1"><a onclick="editInfReport('+val.inf_campaign_report_id+')"  data-toggle="tooltip" title="Edit"><img src="/static/icons/edit.png" height="15px" width="14px"></a>'+
                                '&nbsp<a onclick="delInfReport('+val.inf_campaign_report_id+')" data-toggle="tooltip" title="Delete"><img src="/static/icons/delete.png" height="15px" width="14px"></a></div>'+
                                '</div>'
                            );
                        });

                    }
                    $(form).trigger("reset");

                    <!--$('#addReport').modal('toggle');-->

                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });


        $(document).on('submit','#edit_inf_report_form', function(e){
            var form = $(this);
            var url = form.attr('action');
            alert(url);
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    alert(data); // show response from the python script
                    addReport('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ view_inf_campaign_details_data['data'][0]['proposal_channels'] }}');
                    <!--location.reload();-->
                    $('#edit_inf_Report_modal').modal('toggle');
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });





        $("#edit_brand_report_form").submit(function(e) {
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    alert(data); // show response from the python script.
                    $('#edit_brand_Report_modal').modal('toggle');
                    location.reload();
                    <!--updateChannelStatusForCampaign(channel_id);-->
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });



        <!--alert('i m before');-->
        <!--getBrandReport('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ view_inf_campaign_details_data['data'][0]['proposal_channels'] }}');-->



    });

    <!--$(document).on('submit', function(evt){-->
    <!--alert('form submited');-->
    <!--evt.preventDefault();-->
    <!--});-->

    function editReport(channel_id,to_email_id) {
        <!--alert(channel_id);-->
        $("#message_channel_id").val(channel_id);
        $("#to_email_id").val(to_email_id);
    }



    function sendMessage(channel_id,to_email_id) {
        <!--alert(channel_id);-->
        $("#message_channel_id").val(channel_id);
        $("#to_email_id").val(to_email_id);
    }



    function addReport(campaign_id,proposal_channels) {

        $("#inf_report_campaign_id").empty();
        $("#inf_report_campaign_id").val(campaign_id);
        var channels  = proposal_channels.split(',');
        var channel;
        $('.tab-content').empty();
        $('#inf_report_tabs').empty();
        for (channel of channels) {
            var channel_final  = channel.split('@');
            var active_tab = '';
            if (channel_final[0]=='youtube'){
                var active_tab = 'active';
            }
            $('#inf_report_tabs').append(
                '<li class="nav-item">'+
                '<a class="nav-link '+ active_tab +'" data-toggle="tab" href="#'+channel_final[0]+'">'+channel_final[0]+'</a>'+
                '</li>');

        }
        for (channel of channels) {
            var channel_final  = channel.split('@');
            var active_tab = '';
            if (channel_final[0]=='youtube'){
                var active_tab = 'active';
            }

            $('.tab-content').append(
                '<div class="col-sm tab-pane container '+ active_tab +'" id="'+channel_final[0]+'">'+

                '<form name="add_inf_report_form" id="inf_report_form" action="/saveInfReport" method="POST">'+
                '<div class="row">'+
                '<div class="col-12">' +
                '<input type="hidden"  name="campaign_id" value="{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}">'+
                '<input type="hidden"  name="proposal_id" value="{{ view_inf_campaign_details_data['data'][0]['proposal_id'] }}">'+
                '<input type="hidden"  name="channel_id" value="'+channel_final[1]+'">'+
                '<input type="hidden"  name="channel_name" value="'+channel_final[0]+'">'+
                '<div class="special-form__grid">' +
                '<input class="form-control" type="URL" placeholder="Post Link" name="link_posted">'+
                '<input class="form-control" type="date" name="date_posted">'+
                '<select class="form-control" name="content_type">'+
                '<option id="Review" value="Review">Review</option>'+
                '<option id="UnboxingGameplay" value="Unboxing / Gameplay">Unboxing / Gameplay</option>'+
                '<option id="ShoutoutMention" value="Shout out/Mention">Shout out/Mention</option>'+
                '<option id="Giveaway" value="Giveaway">Giveaway</option>'+
                '<option id="VideoIntroOutro" value="Video Intro/Outro">video Intro/Outro</option>'+
                '<option id="Tutorial" value="Tutorial">Tutorial</option>'+
                '<option id="BannerplacementURLplacement" value="Banner placement / URL placement">Banner placement / URL placement</option>'+
                '<option id="Sponsorship" value="Sponsorship">Sponsorship</option>'+
                '</select>'+
                '<input class="form-control" type="number" placeholder="Clicks" name="post_clicks">'+
                '<input class="form-control" type="number" placeholder="Views" name="post_views">'+
                '<input class="form-control" type="number" placeholder="Likes" name="post_likes">'+
                '<input class="form-control" type="number" placeholder="Comments" name="post_comments">'+
                '<input class="form-control" type="number" placeholder="Shares" name="post_shares">'+
                '<input class="form-control btn-sm btn btn_inf_report_form" type="submit" value="Add">'+
                '</div>' +
                '</div>'+
                '</div>'+
                '</form>'+
                '</div>');
                <!--alert('i m here before');-->
            getInfCampaignReports('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ view_inf_campaign_details_data['data'][0]['proposal_id'] }}',channel_final[1]);
        }

    }



    function getBrandReport(campaign_id,proposal_channels) {
        alert(campaign_id);
        $.ajax({
            type: "GET",
            url: '/getBrandReportByCampaignIdAndChannelIds/'+campaign_id+'/'+proposal_channels,

            success: function(data)
            {
                if (data.results.length != 0){
                    {% for youtube_inf_data in view_inf_campaign_details_data['data'] %}
                    {% if youtube_inf_data['proposal_channels'] %}
                    {% set channels = youtube_inf_data['proposal_channels'].split(',') %}
                    var total_revenue = 0;
                    var total_new_users = 0;
                    var channel_id = '';
                    jQuery.each(data.results, function(i, val) {
                        {% for channel in channels %}
                        {% set channel_final = channel.split('@') %}
                        alert("jquery"+val.channel_id);
                        alert("jinja"+'{{channel}}');
                        if(val.channel_id == '{{channel_final[1]}}'){
                            alert('equal');
                            total_revenue += val.revenue_generated;
                            total_new_users += val.new_users;
                            alert(total_revenue);
                            alert(val.channel_id);
                        }

                        {% endfor %}

                    });

                    <!--alert(total_revenue);-->

                    {% endif %}
                    {% endfor %}

                    jQuery.each(data.results, function(i, val) {

                        $('#revenue'+val.channel_id).html(val.revenue_generated);
                        $('#new_users'+val.channel_id).html(val.new_users);
                        $('#delReport'+val.channel_id).attr("onclick","delBrandReport("+val.brand_campaign_report_id+")");
                        if(val.revenue_generated && val.new_users){
                            $('#reportIcon'+val.channel_id).hide();
                            $('#editReportIcon'+val.channel_id).show();
                        }
                        else{
                            $('#reportIcon'+val.channel_id).show();
                        }

                    });

                }

            }
        });

    }


    function getBrandReportByCampaignIdAndChannelIds(campaign_id,proposal_channels) {
        confirm("Do you want to edit ?");
        $("#edit_brand_report_campaign_id").empty();
        $("#edit_brand_report").empty();
        $("#edit_brand_report_campaign_id").val(campaign_id);
        $.ajax({
            type: "GET",
            url: '/getBrandReportByCampaignIdAndChannelIds/'+campaign_id+'/'+proposal_channels,

            success: function(data)
            {
                if (data.results.length != 0){

                    jQuery.each(data.results, function(i, val) {
                        $('#edit_del_report_screen').modal('toggle');

                        $('#edit_brand_report').append('<tr>'+
                            '<td>'+
                            '<input type="hidden" name="channel_id" value="'+val.channel_id+'">'+
                            '<i class="fa fa-'+val.channel+' purple">&nbsp'+val.channel+'</i></td>&nbsp'+
                            '<td><input type="number" name="revenue" placeholder="Revenue Generated" value="'+val.revenue_generated+'"></td>'+
                            '<td><input type="number" name="new_users" placeholder="New Users" value="'+val.new_users+'"></td>'+
                            '<td><select name="currency">'+
                            '<option value="'+val.currency+'">'+val.currency+'</option>'+
                            '<option value="USD">USD</option>'+
                            '<option value="EUR">EUR</option>'+
                            '<option value="INR">INR</option>'+
                            '<option value="PLN">PLN</option>'+
                            '</select></td>'+
                            '</tr>');
                        $('#edit_brand_Report_modal').modal('toggle');
                    });

                }

            }

        });

    }



    function delInfReport(inf_campaign_report_id) {

        alert(inf_campaign_report_id);
        confirm("Are You Sure You Want To Delete ?")
        $.ajax({
            type: "GET",
            url: '/delInfReport/'+inf_campaign_report_id,

            success: function(data)
            {
                alert(data); // show response from the python script
                addReport('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ view_inf_campaign_details_data['data'][0]['proposal_channels'] }}');
                <!--location.reload();-->
                <!--$('#edit_del_report_screen').modal('toggle');-->
            }

        });

    }


    function editInfReport(inf_campaign_report_id) {

        <!--alert(inf_campaign_report_id);-->

        $.ajax({
            type: "GET",
            url: '/getInfReportByReportId/'+inf_campaign_report_id,

            success: function(data)
            {
                <!--addReport('{{ view_inf_campaign_details_data['data'][0]['campaign_id'] }}','{{ view_inf_campaign_details_data['data'][0]['proposal_channels'] }}');-->
                <!--location.reload();-->
                $('#edit_inf_report').empty();
                jQuery.each(data.results, function(i, val) {
                    $('#edit_inf_report').append(
                        '<form  id="edit_inf_report_form" action="/updateInfReport" method="POST">'+
                        '<div class="row">'+
                            '<div class="col-12">'+
                                '<input type="hidden"  name="inf_campaign_report_id" value="'+val.inf_campaign_report_id+'">'+
                                '<div class="special-form__grid">' +
                                    '<input class="form-control" type="URL" name="link_posted" value="'+val.link_posted+'">'+
                                    '<input class="form-control" type="date" name="date_posted" value="'+val.date_posted+'">'+
                                    '<select class="form-control" name="content_type">'+
                                        '<option value="'+val.content_type+'">'+val.content_type+'</option>'+
                                        '<option id="Review" value="Review">Review</option>'+
                                        '<option id="UnboxingGameplay" value="Unboxing / Gameplay">Unboxing / Gameplay</option>'+
                                        '<option id="ShoutoutMention" value="Shout out/Mention">Shout out/Mention</option>'+
                                        '<option id="Giveaway" value="Giveaway">Giveaway</option>'+
                                        '<option id="VideoIntroOutro" value="Video Intro/Outro">video Intro/Outro</option>'+
                                        '<option id="Tutorial" value="Tutorial">Tutorial</option>'+
                                        '<option id="BannerplacementURLplacement" value="Banner placement / URL placement">Banner placement / URL placement</option>'+
                                        '<option id="Sponsorship" value="Sponsorship">Sponsorship</option>'+
                                    '</select>'+
                                    '<input class="form-control" value="'+val.post_clicks+'" type="number" placeholder="Clicks" name="post_clicks">'+
                                    '<input class="form-control" value="'+val.post_views+'" type="number" placeholder="Views" name="post_views">'+
                                    '<input class="form-control" value="'+val.post_likes+'" type="number" placeholder="Likes" name="post_likes">'+
                                    '<input class="form-control" value="'+val.post_comments+'" type="number" placeholder="Comments" name="post_comments">'+
                                    '<input class="form-control" value="'+val.post_shares+'" type="number" placeholder="Shares" name="post_shares">'+
                                    '<input class="form-control btn-sm btn btn_inf_report_form" type="submit" value="Update">'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                        '</form>');
                });
                $('#edit_inf_Report_modal').modal('toggle');
            }

        });

    }



    function getInfCampaignReports(campaign_id,proposal_id,channel_id){

        $.ajax({
            type: "GET",
            url: '/getInfCampaignReports/'+campaign_id+'/'+proposal_id+'/'+channel_id,
            success: function(data)
            {
                <!--alert('inside success');-->
                if (data.results.length != 0){
                    jQuery.each(data.results, function(i, val) {
                        <!--alert(val.channel_name);-->
                        $('#'+val.channel_name).prepend(
                            '<div class="row '+ val.channel_name +'">'+
                            '<div class="col-sm-1"><a href="'+val.link_posted+'" target="_blank"><i class="fa fa-link" style="font-size:10pt;"></i></a></div>'+
                            '<div class="col-sm-3">'+val.date_posted+'</div>'+
                            '<div class="col-sm-2">'+val.content_type+'</div>'+
                            '<div class="col-sm-1">'+val.post_clicks+'</div>'+
                            '<div class="col-sm-1">'+val.post_views+'</div>'+
                            '<div class="col-sm-1">'+val.post_likes+'</div>'+
                            '<div class="col-sm-1">'+val.post_comments+'</div>'+
                            '<div class="col-sm-1">'+val.post_shares+'</div>'+
                            '<div class="col-sm-1"><a onclick="editInfReport('+val.inf_campaign_report_id+')"  data-toggle="tooltip" title="Edit"><img src="/static/icons/edit.png" height="15px" width="14px"></a>'+
                            '&nbsp<a onclick="delInfReport('+val.inf_campaign_report_id+')" data-toggle="tooltip" title="Delete"><img src="/static/icons/delete.png" height="15px" width="14px"></a></div>'+
                            '</div>'
                        );
                    });

                }

                <!--$('#addReport').modal('toggle');-->

            }
        });

    }
var regionCountries='{{view_inf_campaign_details_data['data'][0]['regions']}}'.split(',');
for(var i=0;i<regionCountries.length;i++){
    $.ajax({
        type:'GET',
        async:false,
        url:'https://restcountries.eu/rest/v2/name/'+regionCountries[i]+'?fullText=true',
        success:function(data){
            $('#regionsCountries')[0].innerHTML+='<span class="block-xs bg-light-grey mb-1">'+data[0]['name']+'</span>&nbsp;';

        }

    })
}

</script>

{% endblock %}