{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div>
                        <ul class="tabrow">
                            <li class="selected">Youtube</li>
                            <li>Facebook</li>
                            <li >Instagram</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                    <div class="row" style="padding-top: 2%;">
                        <button type="button" style="background-color: purple; margin-left: 2%; color:white; border-radius: 10px; font-size:15px;">Export CSV</button>
                        <select style="margin-left: 60%">
                            <option value="sort">Sort</option>
                            <option value="price">Price</option>
                            <option value="new">New</option>
                            <option value="rel">Relevance</option>
                        </select>
                    </div>
                    <br>
                    <div class="container">
                        {% for item in data['data'] %}
                        <div class="row">
                            <div class="">
                                <table cellspacing="1" border="solid 1px #E1DEDD;">
                                    <tr>
                                        <td rowspan="3" style="border-left:solid 1px white;">
                                            <a href="/compose" class="fa fa-envelope" data-toggle="tooltip" title="Message" style="position: relative; z-index: 1; font-size:25px;"></a>
                                            <br>
                                            <a href="#" class="fa fa-bullseye red" data-toggle="tooltip" title="Add To Campaign" style="font-size:25px;"><i class="fa fa-plus-circle green" style="font-size:10px; position:relative; top:5px; left:-8px;"></i>
                                            </a>
                                            <br>
                                            <!--href="/createAlert/{{ item['channel_id'] }}"-->
                                            <!--onclick="createAlert('{{ item['channel_id'] }}')"-->
                                            <!--<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#change_pass_modal">Change Password</button>-->
                                            <a onclick="createAlert('{{ item['channel_id'] }}','{{ item['subscriberCount_gained'] }}','{{ (item['total_100video_views']/100)|int }}','{{ (item['total_100video_likes']/100)|int }}','{{ (item['total_100video_comments']/100)|int }}')" class="fa fa-bell black" data-toggle="modal" data-target="#create_alert_modal" data-tooltip="true" title="Create Alerts" style="font-size:25px;"><i class="fa fa-plus-circle green" style="font-size:10px; position:relative; top:1px; left:-10px;"></i></a>
                                        </td>
                                        <td rowspan="4">
                                            <img src="{{ item['channel_img'] }}" height="150px" width="155px">
                                        </td>
                                        <td colspan="2" style="border-right: solid 1px #E1DEDD;">
                                            <table width="400px" cellpadding="1">
                                                <tr>
                                                    <td colspan="2"><b style="font-size:15px;"><a href="https://www.youtube.com/channel/{{ item['channel_id'] }}" target="_blank">{{ item['title'] }}</a></b> <i class="fa fa-youtube-square-play font-medium-3 red"></i></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD; font-size:14px;">
                                                        <b>{{ item['subscriberCount_gained'] }}</b>
                                                        <br>
                                                        Total followers
                                                    </td>
                                                    <td style="text-align:center;border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD;  font-size:14px;">
                                                        <b>{{ (item['total_100video_likes']/100)|int }}</b>
                                                        <br>
                                                        Avg Likes/ video
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD;  font-size:14px;">
                                                        <b>{{ (item['total_100video_views']/100)|int }}</b>
                                                        <br>
                                                        Avg Views/ video
                                                    </td>
                                                    <td style="text-align:center;font-size:14px;">
                                                        <b>{{ (item['total_100video_comments']/100)|int }}</b>
                                                        <br>
                                                        Avg Comments/ video
                                                    </td>
                                                </tr>
                                                <tr><td colspan="2">
                                                    <b style="font-size:12px">Other Channels</b> &emsp;
                                                    {% if item['facebook_url'] %}
                                                    <a href="{{ item['facebook_url'] }}" target="_blank" class="fa fa-facebook-square-official blue" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                    {% if item['insta_url'] %}
                                                    <a href="{{ item['insta_url'] }}" target="_blank" class="fa fa-instagram pink" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                    {% if item['twitter_url'] %}
                                                    <a href="{{ item['twitter_url'] }}" target="_blank" class="fa fa-twitter-square cyan" style="font-size:20px;"></a>&emsp;
                                                    {% endif %}
                                                </td></tr>
                                            </table>
                                        </td>
                                        <td rowspan="4" width="400" style="border-right: solid 1px #E1DEDD;" >
                                            <div>
                                                <canvas id="lineChart{{ item['linechart_id'] }}" height="150px" width="250px"></canvas>
                                            </div></td>
                                        <td rowspan="4" style="border-right:solid 2px white;">
                                            <div class="scroll">
                                                <ul class="nav nav-tabs" style="background-color:#DFDEDE  ;">
                                                    <li style="margin-left:3%; font-size:15px; font-weight:bold; "><a data-toggle="tab" href="#status{{ item['channel_id'] }}" style="color:black;">Status<i class="fa fa-bullseye red"></i></a></li>&nbsp;&ensp;
                                                    <li style="font-size:15px; font-weight:bold; "><a data-toggle="tab" href="#alert{{ item['channel_id'] }}" style="color:black;">Alert<i class="fa fa-bell black"></i></a></li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="status{{ item['channel_id'] }}" class="tab-pane fade show active">
                                                        <b style="font-weight:450; font-size:15px;">Campaign 1<br/></b>
                                                        <b style="font-weight:400; color:orange; font-size:15px;">Contacted</b>
                                                        <hr style="height:0px; margin:auto;">
                                                        <b style="font-weight:450; font-size:15px;">Campaign 2<br/></b>
                                                        <b style="font-weight: 400; color:green; font-size:15px;">Accepted
                                                        </b>
                                                        <hr style="height:0px; margin:auto;">
                                                        <b style="font-weight:450; font-size:15px;">Campaign 3<br/></b>
                                                        <b style="font-weight: 400; color:orange; font-size:15px;">Contacted</b>
                                                    </div>
                                                    <div id="alert{{ item['channel_id'] }}" class="tab-pane fade">
                                                        <b style="font-weight:450; font-size:15px;">Followers<br/></b>
                                                        <b style="font-weight:400;font-size:15px; color:red;">{{ item['alert_followers'] }}</b>
                                                        <hr style="height:0px; margin:auto;">
                                                        <b style="font-weight:450; font-size:15px;">Avg Views/video<br/></b>
                                                        <b style="font-weight: 400; color:red; font-size:15px;">{{ item['alert_views'] }}
                                                        </b>
                                                        <hr style="height:0px; margin:auto;">
                                                        <b style="font-weight:450; font-size:15px;">Avg Likes/video<br/></b>
                                                        <b style="font-weight: 400; color:red; font-size:15px;">{{ item['alert_likes'] }}
                                                        </b>
                                                        <hr style="height:0px; margin:auto;">
                                                        <b style="font-weight:450; font-size:15px;">Avg Comments<br/></b>
                                                        <b style="font-weight: 400; color:red; font-size:15px;">{{ item['alert_comments'] }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create alert Modal form-->
<div class="modal fade" id="create_alert_modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Create Alert</b>
                <button  type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="create_alert_form" action="/createAlerts" method="POST">
                <div class="modal-body">
                            <span class="display-block overflow-hidden">
                            <!--<label for="channel_id">Channel ID:</label>-->
                        <input  class="form-control" type="hidden" value="" name="channel_id" id="channel_id"></span>
                    <span class="display-block overflow-hidden">
                            <label for="total_followers">Total Followers:</label>
        <input class="form-control"  type="number" value="" name="alert_followers" id="total_followers" placeholder="Total Followers"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_views">Avg Views/Videos:</label>
        <input class="form-control"  type="number" value="" name="alert_views" id="total_views" placeholder="Total Views"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_likes">Avg Likes/Videos:</label>
        <input class="form-control"  type="number" value="" name="alert_likes" id="total_likes" placeholder="Total Likes"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_comments">Avg Comments/Videos:</label>
        <input class="form-control"  type="number" value="" name="alert_comments" id="total_comments" placeholder="Total Comments"></span><br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



<style>
    div.scroll {
        height: 150px;
        width: 150px;
        overflow-y: auto;
    }
    .tabrow {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 24px;
    }
    .tabrow li {
        padding: 0 10px;
        border: 1px solid #AAA;
        background: #ECECEC;
        display: inline-block;
    }
</style>
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
<script src="js/main.js"></script>
<script>
    {% for item in data['data'] %}
    const CHART{{ item['linechart_id'] }} = document.getElementById("lineChart{{ item['linechart_id'] }}");
    let lineChart{{ item['linechart_id'] }} = new Chart(CHART{{ item['linechart_id'] }}, {
        type: 'line',
        data: {
            labels: ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov"],
            datasets: [
            {
                label: "Youtube",
                fill: true,
                backgroundColor: "rgb(255, 0, 0,0.1)",
                lineTension: 0.1,
                borderColor: "rgb(255, 0, 0,0.5)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderWidth:1,
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 0.3,
                pointHoverRadius: 2,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 1,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [65, 59, 80, 81, 56, 55, 40, 50],
            },         {
                label: "Twitter",
                fill: true,
                backgroundColor: "rgb(0, 255, 255,0.1)",
                borderColor: "rgb(0, 255, 255,0.5)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderWidth: 1,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,72,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 0.3,
                pointHoverRadius: 2,
                pointHoverBackgroundColor: "rgba(75,72,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 1,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [100, 20, 60, 20, 80, 55, 90],
            }
        ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    {% endfor %}
</script>

<script>
function createAlert(channel_id,followers,views,likes,comments) {
    <!--alert(channel_id);-->
    $("#channel_id").val(channel_id);
    $("#total_followers").val(followers);
    $("#total_views").val(views);
    $("#total_likes").val(likes);
    $("#total_comments").val(comments);
}
</script>
{% endblock %}