{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<!--<script>-->
<!--$(document).ready(function () {-->

<!--$('#{#item['-->
<!--video_cat_id-->
<!--']#}'-->
<!--).-->
<!--attr("selected", "selected");-->

<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Search - Offers</div>
        <p class="content-sub-header"></p>
    </div>
</div>

<!-- Grid With Label start -->
<div class="row">
    <div class="col-12">
        <div class="card filters">
            <div class="card-header">
                <h4 class="text-left head-border card-title no-transform mb-0">
                    <i class="fa fa-filter"></i> Filters<a href="#" class="filter-toggle"><i
                        class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></a>
                </h4>
            </div>
            <div class="card-body">
                    <form action="/getOffers" id="search_offers" data-clicked="false" method="POST" name="form_search">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Channel</label>
                                        <select id="channel_name" name="channel_name" class="form-control">
                                            <option value="Youtube">Youtube</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Instagram">Instagram</option>
                                            <option value="Facebook">Facebook</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" id="video_cat" name="video_cat">
                                            <option value=""></option>
                                            {% for item in videoCategories['data'] %}
                                            <option id="{{item['video_cat_id']}}" value="{{ item['video_cat_id'] }}">{{
                                                item['video_cat_name'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select id="country" name="country" class="form-control" data-live-search="true" data-live-search-style="begins">
                                            <option value="" style="display: none;"></option>
                                            {% for item in regionCodes['data'] %}
                                            <option id="{{item['region_code']}}" value="{{ item['region_code'] }}">{{
                                                item['country_name'] }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Content-Type</label>
                                        <select id="arrangements" name="arrangements" class="form-control" multiple>
                                            <option value=""></option>
                                            <option id="Review" value="Review">Review</option>
                                            <option id="UnboxingGameplay" value="Unboxing / Gameplay">Unboxing /
                                                Gameplay
                                            </option>
                                            <option id="ShoutoutMention" value="Shout out/Mention">Shout out/Mention
                                            </option>
                                            <option id="Giveaway" value="Giveaway">Giveaway</option>
                                            <option id="VideoIntroOutro" value="Video Intro/Outro">video Intro/Outro
                                            </option>
                                            <option id="Tutorial" value="Tutorial">Tutorial</option>
                                            <option id="BannerplacementURLplacement"
                                                    value="Banner placement / URL placement">Banner placement / URL
                                                placement
                                            </option>
                                            <option id="Sponsorship" value="Sponsorship">Sponsorship</option>
                                            <option id="OtherExplainindescription"
                                                    value="Other (Explain in description)">Other (Explain in
                                                description)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 sliderContainer">
                                    <label style="margin-bottom:20px;">Followers range</label>
                                    <div id="slider2" class="sliderUI" data-price="false"></div>

                                    <div class="row">
                                        <div class="col-sm-12 padding-top-xs">
                                            <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round left lower-value"
                                                   name="min_lower" value="0" data-range="0" id="lower-value2">
                                            <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round right upper-value"
                                                   name="max_upper" value="100000000" data-range="100000000"
                                                   id="upper-value2">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 sliderContainer">
                                    <label style="margin-bottom:20px;">Price range</label>
                                    <div id="slider3" class="sliderUI" data-price="true"></div>
                                    <div class="row">
                                        <div class="col-sm-12 padding-top-xs">
                                            <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round left lower-value"
                                                   name="min_lower_price" value="0" data-range="0" id="lower-value3">
                                            <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round right upper-value"
                                                   name="max_upper_price" value="100000000" data-range="100000000"
                                                   id="upper-value3">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label >Currency</label>
                                    <select class="form-control" name="currency" id="currency">
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="GBP">GBP</option>
                                        <option value="INR">INR</option>
                                    </select>
                                </div>
                            </div>
                        <div class="form-actions no-padding-bottom">
                            <div class="text-right">
                                <button type="submit"
                                        class="btn btn-primary bg-color1 no-margin-bottom mr-1">Submit <i
                                        class="fa fa-search"></i></button>


<!--                                <a href="#" class="btn btn-raised reset-button btn-warning color-white no-margin-bottom">-->
<!--                                    Reset <i class="fa fa-close"></i></a>-->
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row" id="offerData">
            <div class="card">

            </div>
        </div>
    </div>
</div>
<!-- Grid With Label end -->
{% endblock %}
{% block footer %}
<!-- Send message Modal form-->
<div class="modal fade" id="sendMessage" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Send Message</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="send_message_form" action="/sendCustomReply" method="POST">
                <div class="modal-body">
                    <input class="form-control" type="hidden" value="" name="channel_id" id="message_channel_id">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_email_id">*To:</label>
                                <input type="text" class="form-control" value="" id="title" readonly>
                                <input type="hidden" class="form-control" name="to_email_id" id="to_email_id">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_subject">*Subject:</label>
                                <input required type="text" class="form-control" id="to_subject" name="subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_message">*Message:</label>
                                <textarea class="form-control" name="message" id="to_message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                {% if custom_offers_reply_count>0 %}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default bg-color1 color-white">Save</button>
                    </div>
                    <script>
                        var custom_offers_reply_count=Number('{{custom_offers_reply_count}}');
                        var package_name='{{package_name}}';
                        var maxCustom='{{maxCustom}}';
                        function openMessage(){
                            if(custom_offers_reply_count<=0){
                                document.getElementById('addMessageSubscription').innerHTML="You have reached the limit of Custom Offers Reply. (Allowed: "+maxCustom+" ) Please customize your plan to add more or upgrade to unlock more features and add-ons.";
                                document.getElementById('sendMessage').style.filter='blur(3px)';
                                document.getElementById('sendMessage').style.pointerEvents='none';
                                document.getElementsByClassName('subscription-message')[0].style.display="block";
                                document.getElementById('subscription-message-close').style.display="block";
                            }
                        }
                        $('#subscription-message-close').click(function(){
                             document.getElementById('sendMessage').style.filter='none';
                             document.getElementById('sendMessage').style.pointerEvents='';
                             $('#sendMessage').modal('toggle');
                        })
                    </script>
                {% else%}
                    <script>
                        var custom_offers_reply_count=Number('{{custom_offers_reply_count}}');
                        document.getElementById('addMessageSubscription').innerHTML='{{messageSubscription['Custom Offers Reply']['text']}}';
                        document.getElementById('subscription-message-header').innerHTML='{{messageSubscription['Custom Offers Reply']['heading']}}';
                        var package_name='{{package_name}}';
                        function openMessage(){
                            document.getElementById('sendMessage').style.filter='blur(3px)';
                            document.getElementById('sendMessage').style.pointerEvents='none';
                            document.getElementsByClassName('subscription-message')[0].style.display="block";
                            document.getElementById('subscription-message-close').style.display="block";

                        }
                        $('#subscription-message-close').click(function(){
                             document.getElementById('sendMessage').style.filter='none';
                             document.getElementById('sendMessage').style.pointerEvents='';
                             $('#sendMessage').modal('toggle');
                        })
                    </script>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>

        <!--$('#send_message_form').on('submit', function(e){-->
        $("#send_message_form").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            <!--var channel_id = $('#message_channel_id').val();-->
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(data); // show response from the python script.
                    $('#sendMessage').modal('toggle');
                    <!--$( '#status'+channel_id).empty();-->
                    <!--$( 'div[id*=status]').empty();-->
                    custom_offers_reply_count=custom_offers_reply_count-1;
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
</script>
{% endblock %}