{% if session['type']=='brand' %}
{% extends 'admin_layout.html' %}
{% elif session['type'] == 'influencer' %}
{% extends 'dashboard_layout_inf.html' %}
{% endif %}

{{ super() }}
{% block body %}

<div class="container-fluid">
    <div class="row">
        {% for item in offer_details['data'] %}
        <div class="card offers_item">
            <div class="card-header">
                <div class="row offers_item__header">
                    <div class="col-6"><i class="ft ft-eye"></i>
                        Views
                    </div>
                    <div class="col-6 text-right"><i class="ft ft-calendar"></i> posted on:</div>
                </div>
                <div class="row offers_item__header">
                    {% if item['no_of_views']==None %}
                        <div class="col-6">0</div>
                    {% else %}
                        <div class="col-6"> {{item['no_of_views']}}</div>
                    {% endif %}
                    <div class="col-6 text-right">{{ item['posted_date'] }}</div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="offers_item__title">
                            {% if session['type']=='influencer' %}
                            <p style="margin:0;">{{ item['offer_name'] }}&nbsp&nbsp<i data-toggle="tooltip" data-original-title="Active" id="classified-status-button{{loop.index}}" class="fas fa-circle" style="font-size: 0.7rem;color: lightgreen;border-radius: 50%;cursor:pointer;"></i></p>
                            <div class="all-menu text-right">
                                        <a id="copy-option{{loop.index}}" data-toggle="tooltip"
                                           title="Copy Offer" style="display:none;">
                                            <i class="copy-classified-ads far fa-copy"></i>
                                        </a>
                                        <a id="edit-option{{loop.index}}" href="/editOffer/{{ item['offer_id'] }}" data-toggle="tooltip"
                                           title="Edit Offer" style="display:none;"><i class="edit-classified-ads far fa-edit"></i></a>
                                        <a id="delete-option{{loop.index}}" href="/deleteOffer/{{ item['offer_id'] }}" data-toggle="tooltip"
                                           title="Delete Offer" style="display:none;"><i class="delete-classified-ads far fa-trash-alt"></i></a>
                                        <a class="multiple-option{{loop.index}}" data-toggle="tooltip"
                                           title="Options"><i class="multiple-classified-ads fas fa-ellipsis-v" onclick="showMultipleMenu({{loop.index}})"></i></a>
                                </div>
                            {% else %}
                            <p style="margin:0;">{{ item['offer_name'] }}&nbsp&nbsp<i data-toggle="tooltip" data-original-title="Active" id="classified-status-button{{loop.index}}" class="fas fa-circle" style="font-size: 0.7rem;color: lightgreen;border-radius: 50%;cursor:pointer;"></i></p>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="slider-for mb-2">
                            {% set files = item['files'].split(',') %}
                            {% for file in files %}
                            <div class="slide-img">
                                <img src="../static/offer_files/{{ file }}" class="rounded">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slider-nav mb-3">
                            {% set files = item['files'].split(',') %}
                            {% for file in files %}
                            <div class="slide-nav-img">
                                <img src="../static/offer_files/{{ file }}" class="rounded">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <span class="bold-500-letter-spacing">General Info: </span>
                            </div>
                            <div class="col-lg-6">
                                <div class="engagement">
                                    <div id="min-max-followers" class="rating" data-min-followers="{{item['min_lower_followers']}}" data-max-followers="{{ item['max_upper_followers'] }}">

                                    </div>
                                    <div class="rating-txt">
                                        Followers
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="engagement">
                                    <div id="budget-currency" class="rating" data-budget="{{ item['budget'] }}" data-currency="{{ item['currency'] }}">

                                    </div>
                                    <div class="rating-txt">
                                        Remuneration
                                    </div>
                                </div>

                            </div>
                            <div class="col-12">
                                <span class="bold-500-letter-spacing" style="display:block;">Channels:</span>
                                {% set channels = item['channels'].split(',') %}
                                <ul style="list-style:none;display:inline-flex;padding:0;">
                                    {% for channel in channels %}
                                        {% if channel == 'youtube' %}
                                            <li style="margin-right:5px;"><a href="#" class="fa fa-youtube fa-lg icons" style="font-size:20px;"></a></li>
                                        {% elif channel == 'facebook' %}
                                            <li style="margin-right:5px;"><a href="#" class="fa fa-facebook-square fa-lg icons" style="font-size:20px;"></a></li>
                                        {% elif channel == 'twitter' %}
                                            <li style="margin-right:5px;"><a href="#" class="fa fa-twitter fa-lg icons" style="font-size:20px;"></a></li>
                                        {% elif channel == 'instagram' %}
                                            <li style="margin-right:5px;"><a href="#" class="fa fa-instagram fa-lg icons" style="font-size:20px;"></a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-12">
                                <span class="bold-500-letter-spacing">Categories: </span>
                            </div>
                            <div class="col-12">
                                {% set video_cat_names = item['video_cat_name'].split(',') %}
                                {% for video_cat_name in video_cat_names %}
                                <span class="offers_item__categories">{{ video_cat_name }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-12">
                                <span class="bold-500-letter-spacing">Content Type: </span>
                            </div>
                            <div class="col-12">
                                {% set arrangements = item['arrangements'].split(',') %}
                                <span class="color1" style="font-size:15px;">{{ ", ".join(arrangements) }} </span>
                            </div>

                            <div class="col-md-12">
                                <hr>

                                <div class="description" >
                                    <span class="description__title bold-500-letter-spacing">Description</span>

                                    <p>{{ item['offer_description'] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="offers_item__footer">

                    <div class="row d-flex align-items-center mt-2">

                        <div class="col-md-6">
                            <div class="profile">
                                {% for item in profile_data['data'] %}
                                {% if item['channel_img'] %}
                                <img src="{{ item['channel_img'] }}"
                                     class="rounded offers_item__profile-thumb channel-image-circle" alt="Card image">
                                {% else %}
                                <img src="/static/img/fixed_image.png" class="rounded offers_item__profile-thumb channel-image-circle"
                                     alt="Card image">
                                {% endif %}
                                {{ item['first_name'] }} {{ item['last_name'] }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            {% if session['type']=='brand' %}
                            {% for item in profile_data['data'] %}
                            <a href="#" data-business-email="{{ item['business_email'] }}"
                                        data-title="{{ item['first_name'] }}"
                                        data-backdrop="true" data-toggle="modal" data-target="#sendMessage"
                            class="reply-offer btn btn-raised btn-secondary bg-color1 m-0" onclick="openMessage()">Reply</a>
                            {% endfor %}
                            <a href="/searchOffers" class="btn btn-raised btn-primary bg-color2 mb-0">Back</a>
                            {% endif %}
                            {% if session['type']=='influencer' %}
                            <a href="/viewAllOffers" class="btn btn-raised btn-primary bg-color2 mb-0">Back</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block footer %}
<!-- Send message Modal form-->
<div class="modal fade" id="sendMessage" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Send Message</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="send_message_form" action="/sendCustomReply" method="POST">
                <div class="modal-body">
                    <input class="form-control" type="hidden" value="" name="channel_id" id="message_channel_id">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_email_id">*To:</label>
                                <input type="text" class="form-control" value="" id="title" readonly>
                                <input type="hidden" class="form-control" name="to_email_id" id="to_email_id">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_subject">*Subject:</label>
                                <input required type="text" class="form-control" id="to_subject" name="subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="to_message">*Message:</label>
                                <textarea class="form-control" name="message" id="to_message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {% if custom_offers_reply_count>0 %}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default bg-color1 color-white">Save</button>
                    </div>
                    <script>
                        var custom_offers_reply_count=Number('{{custom_offers_reply_count}}');
                        var package_name='{{package_name}}';
                        var maxCustom='{{maxCustom}}'
                        function openMessage(){
                            if(custom_offers_reply_count<=0){
                                document.getElementById('addMessageSubscription').innerHTML="You have reached the limit of Custom Offers Reply. (Allowed: "+maxCustom+" ) Please customize your plan to add more or upgrade to unlock more features and add-ons.";
                                document.getElementById('subscription-message-header').innerHTML="Limit Reached";
                                document.getElementById('sendMessage').style.filter='blur(3px)';
                                document.getElementById('sendMessage').style.pointerEvents='none';
                                document.getElementsByClassName('subscription-message')[0].style.display="block";
                                document.getElementById('subscription-message-close').style.display="block";
                            }
                        }
                        $('#subscription-message-close').click(function(){
                             document.getElementById('sendMessage').style.filter='none';
                             document.getElementById('sendMessage').style.pointerEvents='';
                             $('#sendMessage').modal('toggle');
                        })
                    </script>
                {% else%}
                    <script>
                        var custom_offers_reply_count=Number('{{custom_offers_reply_count}}');
                        document.getElementById('addMessageSubscription').innerHTML='{{messageSubscription['Custom Offers Reply']['text']}}';
                        document.getElementById('subscription-message-header').innerHTML='{{messageSubscription['Custom Offers Reply']['heading']}}';

                        var package_name='{{package_name}}';
                        function openMessage(){
                            document.getElementById('sendMessage').style.filter='blur(3px)';
                            document.getElementById('sendMessage').style.pointerEvents='none';
                            document.getElementsByClassName('subscription-message')[0].style.display="block";
                            document.getElementById('subscription-message-close').style.display="block";

                        }
                        $('#subscription-message-close').click(function(){
                             document.getElementById('sendMessage').style.filter='none';
                             document.getElementById('sendMessage').style.pointerEvents='';
                             $('#sendMessage').modal('toggle');
                        })
                    </script>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>
        $(document).ready(function(){
            var items=document.getElementsByClassName('classified-status-button');
            {% for item in all_classified_data %}
                var postedOn=new Date('{{item['posted_date']}}').getTime();
                var todayDate=new Date();
                var timeDate=todayDate.setDate(todayDate.getDate() - 30);
                if(postedOn<timeDate){
                    $('#classified-status-button'+{{loop.index}})[0].style.color='red';
                    $('#classified-status-button'+{{loop.index}})[0].dataset.originalTitle="Expired";
                }
            {% endfor%}
            var max_followers=$('#min-max-followers')[0].dataset.maxFollowers
            var min_followers=$('#min-max-followers')[0].dataset.minFollowers
            var budget=$('#budget-currency')[0].dataset.budget
            var currency=$('#budget-currency')[0].dataset.currency
            $('#min-max-followers')[0].innerText=abbrNum(min_followers,0)+" - "+abbrNum(max_followers,0);
            var currencyIndex={'INR':'₹','USD':'$','EUR':'€','GBR':'£'}
            $('#budget-currency')[0].innerText=currencyIndex[currency]+" "+parseInt(budget).toFixed(2)
        })
        $("#send_message_form").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            <!--var channel_id = $('#message_channel_id').val();-->
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(data); // show response from the python script.
                    $('#sendMessage').modal('toggle');
                    <!--$( '#status'+channel_id).empty();-->
                    <!--$( 'div[id*=status]').empty();-->
                    custom_offers_reply_count=custom_offers_reply_count-1;
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
</script>
{% endblock %}