{% extends 'dashboard_layout_inf.html' %}
{{ super() }}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Offers - All</div>
        </div>
    </div>
    <div class="row">

        {% for item in all_offer_data %}
            {% if item %}
        <div class="col-md-6">
            <div class="card offers_item">
                <div class="card-header">
                    <div class="row offers_item__header">
                        <div class="col-6"><i class="ft ft-eye"></i></div>
                        <div class="col-6 text-right"><i class="ft ft-calendar"></i> posted on:</div>
                    </div>
                    <div class="row offers_item__header">
                        <div class="col-6"> {{item['no_of_views']}}</div>
                        <div class="col-6 text-right">{{item['posted_date']}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="offers_item__title">
                                {{ item['offer_name'] }}
                                <div class="text-right">
                                    <a href="/editOffer/{{ item['offer_id'] }}" data-toggle="tooltip"
                                       title="Edit Offer"><img class=" mx-1 icon-small"
                                                                    src="/static/icons/edit.png"></a>
                                    <a href="/deleteOffer/{{ item['offer_id'] }}" data-toggle="tooltip"
                                       title="Delete Offer"><img class=" mx-1 icon-small"
                                                                      src="/static/icons/delete.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row photo__row">
                                        <div class="col-12">
                                            {% set files = item['files'].split(',') %}
                                            <div class="main__image" style="background-image: url(../static/offer_files/{{ files[0] }})"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <span>General Info:</span>
                                </div>
                                <div class="col-12">
                                    <div class="engagement">
                                        <div class="rating">
                                            {{item['min_lower_followers']}} - {{item['max_upper_followers']}}
                                        </div>
                                        <div class="rating-txt">
                                            Followers
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="engagement">
                                        <div class="rating">
                                            {{ item['budget'] }}
                                        </div>
                                        <div class="rating-txt">
                                            {{item['currency']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                            <div class="col-12">
                                    <span class="social">Channels:
                                        {% set channels = item['channels'].split(',') %}
                                    {% for channel in channels %}
                                    {% if channel == 'youtube' %}
                                    <a href="#" class="fa fa-youtube-square"></a>
                                    {% elif channel == 'facebook' %}
                                    <a href="#" class="fa fa-facebook-square"></a>
                                    {% elif channel == 'twitter' %}
                                    <a href="#" class="fa fa-twitter-square"></a>
                                    {% elif channel == 'instagram' %}
                                    <a href="#" class="fa fa-instagram"></a>
                                    {% endif %}
                                    {% endfor %}</span>

                                <hr>
                            </div>

                            <div class="col-12">
                                <span>Content Type: </span>
                            </div>

                            <div class="col-12">
                                <div class="arrangements">
                                    {% set arrangements = item['arrangements'].split(',') %}
                                    {% for arrangement in arrangements %}
                                    <span class="color1">{{ arrangement }}, </span>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <span>Categories: </span>
                                </div>
                                <div class="col-12 categories">
                                    <div class="cat d-flex flex-wrap">
                                        {% set video_cat_names = item['video_cat_name'].split(',') %}
                                        {% for video_cat_name in video_cat_names %}
                                        <span class="offers_item__categories">{{ video_cat_name }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <div class="offers_item__footer">
                        <div class="row d-flex align-items-center mt-2">
                            <div class="col-md-6 d-flex flex-row align-items-center">
                                {% if profile_data['data']['profile_pic'] %}
                                <img src="/static/img/{{ profile_data['data']['profile_pic'] }}"
                                     class="rounded offers_item__profile-thumb">
                                {% else %}
                                <img src="/static/img/fixed_image.png" class="rounded offers_item__profile-thumb">
                                {% endif %}
                                <span>{{ profile_data['data']['first_name'] }} {{ profile_data['data']['last_name'] }}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/viewOfferDetails/{{ item['offer_id'] }}"
                                   class="btn btn-raised btn-primary bg-color1 mb-0">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {%endfor%}

    </div>
</div>
{% endblock %}