<div data-active-color="black" data-background-color="white" data-image="" class="app-sidebar">
    <!-- main menu header-->
    <!-- Sidebar Header starts-->
    <div class="sidebar-header">
        <div class="logo clearfix"><a href="/admin_inf" class="logo-text float-left">
            <div class="logo-img"><img src="{{ url_for('static', filename='img/miniature.png') }}" alt="connecsi logo"/>
            </div>
            <span class="text align-middle logo-img-txt"><img src="{{ url_for('static', filename='img/logo.png') }}"
                                                              class="logo-responsive" alt="connecsi"/></span></a><a
                id="sidebarToggle" href="#" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i
                data-toggle="expanded" class="ft-toggle-right toggle-icon"></i></a><a id="sidebarClose" href="#"
                                                                                      class="nav-close d-block d-md-block d-lg-none d-xl-none"><i
                class="ft-x"></i></a></div>
    </div>
    <!-- Sidebar Header Ends-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="sidebar-content">
        <div class="nav-container">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item"><a href="/admin_inf"><i class="fa fa-tachometer"></i><span
                        class="menu-title">Dashboard</span></a></li>
                <li class="has-sub nav-item"><a href="#"><i class="ft-search"></i><span data-i18n="" class="menu-title">Search</span></a>
                    <ul class="menu-content">
                        <li><a href="/searchClassifieds" class="menu-item">Classifieds</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="fa fa-user"></i><span data-i18n=""
                                                                                         class="menu-title">Profile</span></a>
                    <ul class="menu-content">
                        <li><a href="/inf_profile" class="menu-item">View Profile</a>
                        </li>
                        <li><a href="/inf_editProfile" class="menu-item">Edit Profile</a>
                        </li>

                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="ft-mail"></i><span data-i18n="" class="menu-title">Messages</span></a>
                    <ul class="menu-content">
                        <li><a href="/inbox/0" class="menu-item">Inbox</a>
                        </li>
                        <li><a href="/compose" class="menu-item">Compose</a>
                        </li>
                        <li><a href="/sent" class="menu-item">Sent</a>
                        </li>
                        <li><a href="/deleted" class="menu-item">Deleted</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub nav-item"><a href="#"><i class="fa fa-cubes"></i><span data-i18n=""
                                                                                             class="menu-title">Offers</span></a>
                    <ul class="menu-content">
                        <li><a href="/addOffer" class="menu-item">Create Offers</a>
                        </li>
                        <li><a href="/viewAllOffers" class="menu-item">My Offers</a>
                        </li>
                        <li><a href="/deletedOffers" class="menu-item">Deleted</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="fa fa-bullseye"></i><span data-i18n=""
                                                                                           class="menu-title">Campaigns</span></a>
                    <ul class="menu-content">
                        <li><a href="/viewInfCampaigns" class="menu-item">My Campaigns</a>
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="fa fa-handshake-o"></i><span data-i18n="" class="menu-title">Partnerships <span
                        class="comming-soon">(Coming Soon)</span></span></a>
                    <ul class="menu-content">
                        <!--<li ><a href="#" class="menu-item"><p class="purple small"><p/></a>-->
                        <!--</li>-->
                        <!--<li ><a href="#" class="menu-item">Watchlist</a>-->
                        <!--</li>-->
                    </ul>
                </li>
                <li class="has-sub nav-item"><a href="#"><i class="fa fa-google-wallet"></i><span data-i18n=""
                                                                                                  class="menu-title">Payment <span class="comming-soon">(Coming Soon)</span></span></a>
                    <ul class="menu-content">
                        <li><a href="#" class="menu-item">Overview</a>
                        </li>
                        <li><a href="#" class="menu-item">Add Funds</a>
                        </li>
                        <li><a href="#" class="menu-item">Withdraw</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- main menu content-->
    <div class="sidebar-background"></div>
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
