{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
{% set glob={} %}
<head>
    <style>
        .text-field {
            -moz-box-sizing: border-box;
            border: 1px solid #EEEEEE;
            font-family: "Source Sans Pro", Arial, sans-serif;
            font-size: 0.73684em;
            font-weight: 600;
            height: 37px;
            margin: 0;
            padding: 5px;
            width: 100%;
        }

        .autocomplete-suggestion {
            overflow: hidden;
            padding: 2px 5px;
            white-space: nowrap;
            background-color: white;
        <!-- max-width: 500 px;
        --> <!-- margin: auto;
        --> <!-- border: 3 px solid #73AD21;
        -->
        }

        @media only screen and (max-width: 450px) {
            .autocomplete-suggestion {
                width: 80%;
            }
        }

        .autocomplete-suggestions strong {
            color: #3399FF;
            font-weight: normal;

        }

        .autocomplete-selected {
            background-color: #F0F0F0;
        }


    </style>

</head>

<div class="sticky-bottom" id="accordion">
    <div class="card">
        <div id="influencerSearchPanel" data-parent="#accordion">
            <div class="card-body">
                <div class="row" style="justify-content: center">
                    <div class="col-xl-12 col-lg-12  col-md-12 col-12">
                        <div class="card">
                            <div class="card-body" style="padding: 1px;">
                                <form class="col s12" action="/searchInfluencers" method="POST" name="form_search"
                                      id="form_search">
                                    <div class="form-body">
                                        <div class="row" style="padding-top: 2%;">
                                            <div class="col-xl-2 col-lg-2 col-md-2 mb-1"
                                                 style="margin-top:33px; padding-left:2%;">
                                                <div class="form-group">
                                                    <select class="form-control" name="channel" style="height:35px;">
                                                        {% if form_filters['channel'] %}
                                                        <option value="{{ form_filters['channel'] }}">{{
                                                            form_filters['channel'] }}
                                                        </option>
                                                        {% endif %}
                                                        <option value="Youtube">Youtube</option>
                                                        <option value="Twitter">Twitter</option>
                                                        <option value="Facebook">Facebook</option>
                                                        <option value="Instagram">Instagram</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 mb-1" style="margin-top:33px;">
                                                <div class="form-group">
                                                    <input class="form-control" id="string_word" name="string_word"
                                                           type="text" placeholder="Enter Keywords" style="height:35px;"
                                                           {% if form_filters['string_word'] %}
                                                    value="{{ form_filters['string_word'] }}"
                                                    {% endif %}
                                                    >
                                                </div>
                                                <!--{{ form_filters }}-->
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <div class="form-group">
                                                        <select class="form-control" name="country"
                                                                style="height:35px;">
                                                            {% if form_filters['country'] %}
                                                            <option value="{{ form_filters['country'] }}">{{
                                                                form_filters['country_name'] }}
                                                            </option>
                                                            <option value=""></option>
                                                            {% else %}
                                                            <option value=""></option>
                                                            {% endif %}

                                                            {% for item in regionCodes['data'] %}
                                                            <option value="{{ item['region_code'] }}">{{
                                                                item['country_name'] }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5 col-lg-5 col-md-5 mb-1" style="padding-right:8%;">
                                                <div class="form-group">
                                                    <p>
                                                        <label>Followers range:</label>
                                                    </p>
                                                    <div id="slider" data-min="{{form_filters['min_lower']}}"
                                                         data-max="{{form_filters['max_upper']}}"
                                                         style="height:10px;"></div>
                                                </div>
                                                <div class="row" style="margin-left:3%;">
                                                    <div class="col-3.5" id="lower-value"
                                                         style="border:1px solid black; padding-left:1px; padding-right:2px;"></div>
                                                    <div class="col-6"></div>
                                                    <div class="col-3.5" id="upper-value"
                                                         style="border:1px solid black; padding-right:2px; padding-left:2px; margin-left:8%;"></div>
                                                </div>
                                                <input type="hidden" name="min_lower" value="" id="min_lower">
                                                <input type="hidden" name="max_upper" value="" id="max_upper">
                                                <!--{{ form_filters }}-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                                <div class="form-group spacing" style="margin-left:20%;">
                                                    <button id="btn-search-inf" type="submit" class="btn btn-sm"
                                                            name="search_inf"
                                                            style="padding-right: 10px; padding-left: 10px; padding-top: 2.5px; padding-bottom: 2.5px;background-color: #9E57DD; color:white;">
                                                        Search <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row" style="margin-left: 2%;">
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                            {% if data['data'] %}
                            <a href="/home/kiranLocalBackup/connecsiFrontendBackup/infList.csv" download>
                                <button type="button"
                                        style="background-color:#9E57DD;; margin-left: 2%; color:white; border-radius: 10px; font-size:15px;">
                                    Export CSV
                                </button>
                            </a>
                            {% else %}
                            <!--<button type="button"  style="background-color: purple; margin-left: 2%; color:white; border-radius: 10px; font-size:15px;">Export CSV</button>-->
                            {% endif %}
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-1"><h4 class="text-center">Influencers on Youtube</h4>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                            <div class="form-group">
                                <div class="form-group" style="margin-left:12%;">
                                    <select class="form-control" name="sort_order" placeholder="Sort"
                                            style="width:140px;">
                                        <option value=""></option>
                                        {% if form_filters['sort_order'] %}
                                        <option value="{{ form_filters['sort_order'] }}" disabled>{{
                                            form_filters['sort_order'] }}
                                        </option>
                                        {% if form_filters['sort_order'] == "High To Low" %}
                                        <option value="Low To High">Low To High</option>
                                        {% elif form_filters['sort_order'] == "Low To High" %}
                                        <option value="High To Low">High To Low</option>
                                        {% endif %}
                                        {% else %}
                                        <option value="High To Low">High To Low</option>
                                        <option value="Low To High">Low To High</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="container contents" id="wrapper">
                        {% for item in data['data'] %}
                        {% set _ = glob.update({'total_rows':item['total_rows']}) %}
                        <div class="lazy">
                            <div class="row">
                                <div>
                                    <table cellspacing="1" border="solid 1px #E1DEDD;">
                                        <tr>
                                            <td rowspan="3" style="border-left:solid 1px white;">
                        <span data-toggle="modal" data-target="#sendMessage">
                        <a onclick="sendMessage('{{ item['channel_id'] }}','{{ item['business_email'] }}')"
                           class="fa fa-envelope" data-toggle="tooltip" title="Message"
                           style="position: relative; z-index: 1; font-size:25px;color:#9E57DD;"></a>
                        </span>
                                                <br>
                                                {% if form_filters['campaign_id'] %}
                                                <!--<a href="/addToCampaign/{{  form_filters['campaign_id'] }}" class="fa fa-bullseye red" data-toggle="tooltip" title="Add To Campaign" style="font-size:25px;"><i class="fa fa-plus-circle green" style="font-size:10px; position:relative; top:5px; left:-8px;"></i></a>-->
                                                <a href="#" class="fa fa-bullseye blue" data-toggle="tooltip"
                                                   title="Under Construction" style="font-size:25px;"><i
                                                        class="fa fa-plus-circle green"
                                                        style="font-size:10px; position:relative; top:5px; left:-8px;"></i></a>
                                                {% else %}
                                                <span data-toggle="modal" data-target="#campaignList">
                      <a onclick="campaignList('{{ item['channel_id'] }}')" class="fa fa-bullseye blue"
                         data-toggle="tooltip" title="Add To Campaign" style="font-size:25px;"><i
                              class="fa fa-plus-circle green"
                              style="font-size:10px; position:relative; top:5px; left:-8px;"></i></a>
                      </span>
                                                {% endif %}
                                                <br>
                                                {% if item['channel_id'] in
                                                favInfList_data['data']|map(attribute="channel_id") %}
                                                <a href="#" class="fa fa-star cyan" data-toggle="tooltip"
                                                   title="Already In Your Favorites List" style="font-size:25px;"></a>
                                                {% else %}
                                                <a href="/addToFavInfList/{{ item['channel_id'] }}"
                                                   class="fa fa-star-o cyan" data-toggle="tooltip"
                                                   title="Add To Favorites" style="font-size:25px;"><i
                                                        class="fa fa-plus-circle green"
                                                        style="font-size:10px; position:relative; top:1px; left:-10px;"></i></a>
                                                {% endif %}
                                                <br>
                                                <span data-toggle="modal" data-target="#create_alert_modal">
                      <a onclick="createAlert('{{ item['channel_id'] }}','{{ item['subscriberCount_gained'] }}','{{ (item['total_100video_views']/100)|int }}','{{ (item['total_100video_likes']/100)|int }}','{{ (item['total_100video_comments']/100)|int }}')"
                         class="fa fa-bell cyan" data-toggle="tooltip" title="Create Alerts" style="font-size:25px;"><i
                              class="fa fa-plus-circle green"
                              style="font-size:10px; position:relative; top:1px; left:-10px;"></i></a>
                      </span>
                                            </td>
                                            <td rowspan="4">
                                                <img src="{{ item['channel_img'] }}" height="150px" width="155px">
                                            </td>
                                            <td colspan="2" style="border-right: solid 1px #E1DEDD;">
                                                <table width="400px" cellpadding="1">
                                                    <tr>
                                                        <td colspan="2"><b style="font-size:15px;"><a
                                                                href="https://www.youtube.com/channel/{{ item['channel_id'] }}"
                                                                target="_blank">{{ item['title'] }}</a></b> <i
                                                                class="fa fa-youtube-square font-medium-3 "
                                                                style="color:#9E57DD;"></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD; font-size:14px;">
                                                            <b>{{ item['subscriberCount_gained'] }}</b>
                                                            <br>
                                                            Total followers
                                                        </td>
                                                        <td style="text-align:center;border-bottom:solid 1px #E1DEDD; border-top:solid 1px #E1DEDD;  font-size:14px;">
                                                            <b>{{ (item['total_100video_likes']/100)|int }}</b>
                                                            <br>
                                                            Avg Likes/ video
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align:center;border-right: solid 1px #E1DEDD; border-bottom:solid 1px #E1DEDD;  font-size:14px;">
                                                            <b>{{ (item['total_100video_views']/100)|int }}</b>
                                                            <br>
                                                            Avg Views/ video
                                                        </td>
                                                        <td style="text-align:center;font-size:14px;">
                                                            <b>{{ (item['total_100video_comments']/100)|int }}</b>
                                                            <br>
                                                            Avg Comments/ video
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <b style="font-size:12px">Other Channels</b> &emsp;
                                                            {% if item['facebook_url'] %}
                                                            <a href="{{ item['facebook_url'] }}" target="_blank"
                                                               class="fa fa-facebook-square-official "
                                                               style="font-size:20px;color:#9E57DD;"></a>&emsp;
                                                            {% endif %}
                                                            {% if item['insta_url'] %}
                                                            <a href="{{ item['insta_url'] }}" target="_blank"
                                                               class="fa fa-instagram "
                                                               style="font-size:20px; color:#9E57DD;"></a>&emsp;
                                                            {% endif %}
                                                            {% if item['twitter_url'] %}
                                                            <a href="{{ item['twitter_url'] }}" target="_blank"
                                                               class="fa fa-twitter-square "
                                                               style="font-size:20px;color:#9E57DD;"></a>&emsp;
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td rowspan="4" width="400" style="border-right: solid 1px #E1DEDD;">
                                                <div>
                                                    <canvas id="lineChart{{ item['linechart_id'] }}" class="line-chart"
                                                            height="150px" width="250px"></canvas>
                                                </div>
                                            </td>
                                            <td rowspan="4" style="border-right:solid 2px white;">
                                                <div class="scroll">
                                                    <ul class="nav nav-tabs" style="background-color:#DFDEDE  ;">
                                                        <li style="margin-left:3%; font-size:15px; font-weight:bold; ">
                                                            <a data-toggle="tab" href="#status{{ item['channel_id'] }}"
                                                               style="color:black;">Status<i
                                                                    class="fa fa-bullseye blue"></i></a></li>&nbsp;&ensp;
                                                        <!--<li style="margin-left:3%; font-size:15px; font-weight:bold; "><a onclick="updateChannelStatusForCampaign('{{ item['channel_id'] }}')" href="#" style="color:black;">Status<i class="fa fa-bullseye red"></i></a></li>&nbsp;&ensp;-->
                                                        <li style="font-size:15px; font-weight:bold; "><a
                                                                data-toggle="tab" href="#alert{{ item['channel_id'] }}"
                                                                style="color:black;">Alert<i
                                                                class="fa fa-bell cyan"></i></a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="status{{ item['channel_id'] }}"
                                                             class="tab-pane fade show active">
                                                            <!--<input type="hidden" id="campaign_id[]" name="campaign_id[]">-->
                                                        </div>

                                                        <div id="alert{{ item['channel_id'] }}" class="tab-pane fade">
                                                            {% if item['channel_id'] in
                                                            favInfList_data['data']|map(attribute="channel_id") %}
                                                            {% for favitem in favInfList_data['data'] %}
                                                            {% if item['channel_id'] == favitem['channel_id'] %}
                                                            <b style="font-weight:450; font-size:15px;">Followers<br/></b>
                                                            <b style="font-weight:400;font-size:15px; color:red;">{{
                                                                favitem['alert_followers'] }}</b>
                                                            <hr style="height:0px; margin:auto;">
                                                            <b style="font-weight:450; font-size:15px;">Avg
                                                                Views/video<br/></b>
                                                            <b style="font-weight: 400; color:red; font-size:15px;">{{
                                                                favitem['alert_views'] }}
                                                            </b>
                                                            <hr style="height:0px; margin:auto;">
                                                            <b style="font-weight:450; font-size:15px;">Avg
                                                                Likes/video<br/></b>
                                                            <b style="font-weight: 400; color:red; font-size:15px;">{{
                                                                favitem['alert_likes'] }}
                                                            </b>
                                                            <hr style="height:0px; margin:auto;">
                                                            <b style="font-weight:450; font-size:15px;">Avg
                                                                Comments<br/></b>
                                                            <b style="font-weight: 400; color:red; font-size:15px;">{{
                                                                favitem['alert_comments'] }}</b>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% else %}
                                                            <b> No Alerts Set</b>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                        <div class="row" id="pagination">
                            <!--{{ glob.total_rows }}-->
                            <!--{{ payload_form_filter }}-->
                            {% set pages = ((glob.total_rows)/20)|round|int %}
                            <!--{{ pages }}-->
                            {% set _ = glob.update({'offset':0}) %}
                            {% set current_offset = payload_form_filter['offset'] %}
                            {% for pages in range(pages) %}

                            <form id="" method="POST" action="/searchInfluencers">
                                <input type="hidden" name="channel" value="{{payload_form_filter['channel']}}">
                                <input type="hidden" name="string_word" value="{{payload_form_filter['string_word']}}">
                                <input type="hidden" name="country" value="{{payload_form_filter['country']}}">
                                <input type="hidden" name="min_lower" value="{{payload_form_filter['min_lower']}}">
                                <input type="hidden" name="max_upper" value="{{payload_form_filter['max_upper']}}">
                                <input type="hidden" name="sort_order" value="{{payload_form_filter['sort_order']}}">
                                <input type="hidden" name="category_id" value="{{payload_form_filter['category_id']}}">
                                <input type="hidden" name="offset" value="{{glob.offset}}">
                                {% if glob.offset == current_offset-40 or glob.offset == current_offset-20 or
                                glob.offset == 0 or glob.offset == current_offset or glob.offset==current_offset+20 or
                                glob.offset==current_offset+40 %}
                                {% if current_offset == glob.offset %}

                                {% set _ = glob.update({'current_page':loop.index}) %}
                                <button type="submit" disabled class="btn btn-info btn-sm" name="search_inf">
                                    {{loop.index}}
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-info btn-sm" name="search_inf">{{loop.index}}
                                </button>
                                {% endif %}
                                {% elif glob.offset == current_offset-60 or glob.offset == current_offset+60 %}
                                <button type="submit" class="btn btn-info btn-sm" name="search_inf">...</button>
                                {% endif %}

                            </form>
                            <div>&nbsp;</div>
                            {% set _ = glob.update({'offset':(glob.offset+20)|int}) %}
                            <!--{{glob.offset}}-->
                            {% endfor %}
                            Page {{glob.current_page}} of {{ pages }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.scroll {
        height: 150px;
        width: 150px;
        overflow-y: auto;
    }

    .tabrow {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 24px;
    }

    .tabrow li {
        padding: 0 10px;
        border: 1px solid #AAA;
        background: #ECECEC;
        display: inline-block;
    }
</style>
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>

<script>
    $( document ).ready(function() {

        // range slider starts
        var nonLinearSlider = document.getElementById('slider');
        noUiSlider.create(nonLinearSlider, {
            connect: true,
            behaviour: 'tap',
        {% if form_filters['min_lower'] and form_filters['max_upper'] %}
        start: [{{ form_filters['min_lower'] }}, {{ form_filters['max_upper'] }}],
        {% else %}
        start: [0,100000000],
        {% endif %}
        behaviour: 'tap-drag',
            tooltips: false,

            range: {
            // Starting at 500, step the value by 500,
            // until 4000 is reached. From there, step by 1000.
            'min': [ 0 ],
                <!--'10%': [ 500, 500 ],-->
                <!--'50%': [ 4000, 1000 ],-->
                'max': [ 100000000 ]
        },
        format: {
            from: function(value) {
                return parseInt(value);
            },
            to: function(value) {
                return parseInt(value);
            }
        }

    });
        var nodes = [
            document.getElementById('lower-value'), // 0
            document.getElementById('upper-value')  // 1
        ];
        // Display the slider value and how far the handle moved
        // from the left edge of the slider.
        nonLinearSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) {
            nodes[handle].innerHTML = values[handle];
        });
        // range slider ends



    });
</script>




<style>
    .noUi-handle-custom {
        border-radius: 100px;
        margin-bottom: 15%;
    }

    .noUi-target {
        padding: 0 0px;
    }

    .noUi-handle:before,
    .noUi-handle:after {

        width: 17px;
        content: none;
        position: absolute;
        top: 0;
        height: 100%;
        display: block;
    }


</style>

<!-- Create alert Modal form-->
<div class="modal fade" id="create_alert_modal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Create Alert</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="create_alert_form" action="/createAlerts" method="POST">
                <div class="modal-body">
                            <span class="display-block overflow-hidden">
                            <!--<label for="channel_id">Channel ID:</label>-->
                        <input class="form-control" type="hidden" value="" name="channel_id" id="channel_id"></span>
                    <span class="display-block overflow-hidden">
                            <label for="total_followers">Total Followers:</label>
        <input class="form-control" type="number" value="" name="alert_followers" id="total_followers"
               placeholder="Total Followers"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_views">Avg Views/Videos:</label>
        <input class="form-control" type="number" value="" name="alert_views" id="total_views"
               placeholder="Total Views"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_likes">Avg Likes/Videos:</label>
        <input class="form-control" type="number" value="" name="alert_likes" id="total_likes"
               placeholder="Total Likes"></span><br>
                    <span class="display-block overflow-hidden">
                            <label for="total_comments">Avg Comments/Videos:</label>
        <input class="form-control" type="number" value="" name="alert_comments" id="total_comments"
               placeholder="Total Comments"></span><br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Campaign List Modal-->
<div class="modal fade" id="campaignList" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Campaign List</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="add_youtube_inf_to_campaign_list_form" id="add_influencer_to_campaign"
                  action="/addYoutubeInfToCampaignList" method="POST">
                <div class="modal-body">
                    <input type="hidden" name="channel_id" id="youtube_channel_id">

                    <div id="channel_name"></div>
                    <div>channels</div>
                    <div class="table-responsive" style="background-color: white;">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Select</b></th>
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Campaign</b></th>
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Status</b></th>
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Period</b></th>
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Channels</b></th>
                                <!--<th scope="col"><b style="font-weight: 500; font-size:16px;">Countries</b></th>-->
                                <th scope="col"><b style="font-weight: 500; font-size:16px;">Influencers</b></th>
                                <!--<th scope="col"><b style="font-weight: 500; font-size:16px;">Budget</b></th>-->
                                <!--<th scope="col"><b style="font-weight: 500; font-size:16px;">ROI</b></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in view_campaign_data['data'] %}
                            <tr>
                                <td>

                                    <input class="form-control campaign_id{{ item['campaign_id'] }}" type="checkbox"
                                           multiple id="campaign_id" value="{{ item['campaign_id'] }}"
                                           name="campaign_id">


                                </td>
                                <td><a href="/viewCampaignDetails/{{ item['campaign_id'] }}">{{ item['campaign_name']
                                    }}</a></td>
                                <td>
                                    <span class="{{ item['campaign_status'] }}" data-toggle="tooltip"
                                          title="{{ item['campaign_status'] }}"></span>
                                    <!--{{ item['campaign_status'] }}-->
                                </td>
                                <td>{{ item['from_date'] }}- {{ item['to_date'] }}</td>
                                <td>
                                    {% set channels = item['channels'].split(',') %}
                                    {% for channel in channels %}
                                    {% if channel == 'youtube' %}
                                    <a href="#" class="fa fa-youtube-square red"></a>
                                    {% elif channel == 'facebook' %}
                                    <a href="#" class="fa fa-facebook-square blue"></a>
                                    {% elif channel == 'twitter' %}
                                    <a href="#" class="fa fa-twitter-square"></a>
                                    {% elif channel == 'instagram' %}
                                    <a href="#" class="fa fa-instagram pink"></a>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <!--<td>-->
                                <!--{% for region_name in item['region_name_list'] %}-->
                                <!--{{ region_name }},-->
                                <!--{% endfor %}-->
                                <!--</td>-->
                                <td>{{ item['no_of_influencers'] }}
                                    <span class="float-right text muted">
                                <!--<a onclick="searchInfluencers('{{ item['campaign_name'] }}','{{ item['campaign_id'] }}','{{ item['channels'] }}','{{ item['video_cat_name'] }}','{{ item['min_lower_followers'] }}','{{ item['max_upper_followers'] }}','{{ item['regions'] }}')" class="fa fa-user-plus black" data-toggle="modal" data-target="#create_alert_modal" data-tooltip="true" title="Add Influencer" style="font-size:20px;"></a>-->
                                        <!--<button class="btn btn-sm btn-outline-secondary fa fa-user-plus"></button>-->
                        </span>
                                </td>
                                <!--<td>{{ item['budget'] }} {{ item['currency'] }}</td>-->
                                <!--<td>Coming Soon</td>-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Send message Modal form-->
<div class="modal fade" id="sendMessage" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header alert-primary">
                <b class="modal-title">Send Message</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="create_alert_form" id="send_message_form" action="/sendMessage" method="POST">
                <div class="modal-body">
                    <input class="form-control" type="hidden" value="" name="channel_id" id="message_channel_id">
                    <div class="row">
                        <div class="col-12">
                            <ul class="no-list-style">
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class=" font-small-3"></i>*To :</a></span>
                                    <span class="display-block"><input type="text" class="form-control"
                                                                       name="to_email_id" id="to_email_id"
                                                                       readonly> </span>
                                </li>
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i
                                            class=" font-small-3"></i>*Subject :</a></span>
                                    <span class="display-block"><input required type="text" class="form-control"
                                                                       name="subject"> </span>
                                </li>
                                <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i
                                            class=" font-small-3"></i>Message:</a></span>
                                    <span class="display-block"><textarea class="form-control"
                                                                          name="message"></textarea> </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function createAlert(channel_id, followers, views, likes, comments) {
        <!--alert(channel_id);-->
        $("#channel_id").val(channel_id);
        $("#total_followers").val(followers);
        $("#total_views").val(views);
        $("#total_likes").val(likes);
        $("#total_comments").val(comments);
    }

    function sendMessage(channel_id, to_email_id) {
        <!--alert(channel_id);-->
        $("#message_channel_id").val(channel_id);
        $("#to_email_id").val(to_email_id);
    }
</script>
<script>
    function getCampaign_ids(channel_id) {

        $.ajax({
            type: "GET",
            url: '/getChannelStatusForCampaign/' + channel_id,
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {

                if (data.results.length != 0) {
                    jQuery.each(data.results, function (i, val) {
                        <!--alert(val.campaign_id);-->
                        $('.campaign_id' + val.campaign_id).attr('disabled', true);

                    });
                }

            }
        });

    }

    function campaignList(channel_id) {

        $("input#campaign_id").prop('checked', false);
        $("input#campaign_id").prop('disabled', false)
        $("#youtube_channel_id").val(channel_id);
        var campaign_ids = getCampaign_ids(channel_id);
        <!--alert(campaign_ids);-->
        {%
            for item in view_campaign_data['data'] %}
        {%
            for item1 in item['youtube_inf_data'] %}
        var campaign_channel_id = "{{ item1['channel_id'] }}";
        var campaign_id = "{{ item['campaign_id'] }}";

        if (channel_id == campaign_channel_id) {
            <!--alert("equal");-->
            $('.campaign_id' + campaign_id).attr('disabled', true);
        }
        else {
            <!--alert("not equal");-->
            <!--$('.campaign_id'+campaign_id).attr('disabled', false);-->
        }
        {%
            endfor %
        }
        {%
            endfor %
        }
    }

    function updateChannelStatusForCampaign(channel_id) {
        <!--alert(channel_id);-->
        $.ajax({
            type: "GET",
            url: '/getChannelStatusForCampaign/' + channel_id,
            contentType: 'application/json;charset=UTF-8',
            success: function (data) {
                $('#status' + channel_id).empty();
                if (data.results.length != 0) {
                    jQuery.each(data.results, function (i, val) {
                        <!--alert(val.campaign_name);-->
                        <!--alert(val.status);-->

                        $('#status' + channel_id).append('<b style="font-weight:450; font-size:15px;">' + val.campaign_name + '<br/></b>');
                        $('#status' + channel_id).append('<b style="font-weight:400; color:orange; font-size:15px;">' + val.status + '</b>');
                        $('#status' + channel_id).append('<hr style="height:0px; margin:auto;">');
                    });
                }
                else {
                    $('#status' + channel_id).append('<b>No Campaigns</b>');
                }
            }
        });

    }
</script>

<script>
    $(document).ready(function () {
        $("#add_influencer_to_campaign").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            var channel_id = $('#youtube_channel_id').val();
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(data); // show response from the python script.
                    $('#campaignList').modal('toggle');
                    updateChannelStatusForCampaign(channel_id);
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });

        $("#send_message_form").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');
            var channel_id = $('#message_channel_id').val();
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(data); // show response from the python script.
                    $('#sendMessage').modal('toggle');
                    updateChannelStatusForCampaign(channel_id);
                }
            });
            e.preventDefault(); // avoid to execute the actual submit of the form.
        });


    //     {%
    //         for item in data['data'] %}
    //     updateChannelStatusForCampaign('{{ item['
    //     channel_id
    //     '] }}'
    // )
    //     ;
    //     {% endfor %}


        <!--alert('lazy');-->
        <!--$(".lazy").hide();-->
        <!--$(".lazy").addClass("loader");-->
        $(window).lazyScript({
            selectorClass: 'lazy',
            callback: jQuery.noop,
            threshold: 0,
            scrollInterval: 500
        });
    });
</script>
{% endblock %}