{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Classified Ads - Create New</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" id="create-classified">
                <div class="card-body">
                    <div class="card-block">
                        <form class="form" name="classified_form" id="classified_form" method="POST"
                              action="/saveClassified" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="classified_name">Headline</label>
                                            <input id="classified_name" type="text" class="form-control"
                                                   name="classified_name" required>
                                        </div>
                                        <div class="col-md-3 my-1">
                                            <label for="from_date">Start Date</label>
                                            <input id="from_date"
                                                   class="form-control datepicker"
                                                   name="from_date"
                                                   placeholder="yyyy-mm-dd"
                                                   required></div>
                                        <div class="col-md-3 my-1">
                                            <label for="to_date">End Date</label>
                                            <input id="to_date"
                                                   class="form-control datepicker"
                                                   name="to_date"
                                                   placeholder="yyyy-mm-dd"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="budget">Budget</label>
                                            <input type="currency"
                                                   class="form-control"
                                                   name="budget"
                                                   id="budget"
                                                   placeholder="Budget"
                                                   oninput="change_format()"
                                                   required>
                                        </div>
                                        <input class="form-control" type="hidden" name="currency" id="currency" value="{{session['default_currency']}}">
                                        <div class="col-md-3 my-1">
                                                <label for="channels">Channels</label>
                                                <select class="form-control" id="channels" name="channels"
                                                        multiple="multiple" required>
                                                    <option value="youtube">Youtube</option>
                                                    <option value="twitter">Twitter</option>
                                                    <option value="instagram">Instagram</option>
                                                    <option value="facebook">Facebook</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3 my-1">
                                            <label for="country">Country</label>
                                            <select class="form-control" name="country" id="country" multiple
                                                    required data-live-search="true" data-live-search-style="begins">
                                                {% for item in regionCodes['data'] %}
                                                <option value="{{ item['region_code'] }}">{{ item['country_name']
                                                    }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 my-1">
                                            <div class="form-field sliderContainer">
                                                <div class="form-group">
                                                    <label>Followers</label>
                                                    <div id="slider" class="sliderUI" data-price="false" style="margin-top:18px;"></div>
                                                </div>
                                                <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round left lower-value"
                                                       name="min_lower" value="0" data-range="0" id="lower-value">
                                                <input type="hidden" class="form-control form-control-xs bg-light-grey slider-input round right upper-value"
                                                       name="max_upper" value="100000000" data-range="100000000"
                                                       id="upper-value">
                                            </div>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="target_url">Target url</label>
                                            <input type="url" id="target_url" class="form-control"
                                                   name="target_url"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                                <label for="videoCategories">Categories</label>
                                                <select class="form-control" name="video_cat" required>
                                                    {% for item in videoCategories['data'] %}
                                                    <option value="{{ item['video_cat_id'] }}">{{ item['video_cat_name']
                                                        }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                        <div class="col-md-6 my-1">
                                            <label for="arrangements">Content Type</label>

                                            <select multiple id="arrangements" name="arrangements"
                                                    class="form-control"
                                                    required>
                                                <option value="Review">Review</option>
                                                <option value="Unboxing / Gameplay">Unboxing / Gameplay</option>
                                                <option value="Shout out/Mention">Shout out/Mention</option>
                                                <option value="giveaway">giveaway</option>
                                                <option value='Video Intro/Outro'>video Intro/Outro</option>
                                                <option value="Tutorial">Tutorial</option>
                                                <option value="Banner placement / URL placement">Banner placement /
                                                    URL
                                                    placement
                                                </option>
                                                <option value="Sponsorship">Sponsorship</option>
                                                <option value="Other (Explain in description)">Other (Explain in
                                                    description)
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 my-1">
                                            <label for="kpis">Kpi:</label>
                                            <select name="kpis" id="kpis" class="form-control" multiple required>
                                                <option value="No of Clicks">No of Clicks</option>
                                                <option value="New Users">New Users</option>
                                                <option value="Revenue Generated">Revenue Generated</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 my-1 d-flex flex-column">
                                            <label for="campaign_files">Attachments</label>
                                            <input type="file" name="campaign_files"
                                                   id="campaign_files"
                                                   class="brands_classified_files" required multiple>
                                            <div class="displayFiles"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 my-1">


                                            {% if campaign_count>0 %}
                                                <input type="checkbox" class="form-check-input" id="convert_to_campaign" name="convert_to_campaign" style="margin-left: 0rem">
                                                <label class="form-check-label" for="convert_to_campaign" style="margin-left: 1.25rem">Post As Campaign</label>
                                            {% else%}
                                                <input type="checkbox" class="form-check-input" id="convert_to_campaign" name="convert_to_campaign" style="margin-left: 0rem">
                                                <label class="form-check-label" for="convert_to_campaign" style="margin-left: 1.25rem">Post As Campaign</label>
                                                <script>
                                                    var campaignMessage='{{messageSubscription['Create Campaign']['text']}}';
                                                    var campaignMessageHead='{{messageSubscription['Create Campaign']['heading']}}';
                                                    $('#convert_to_campaign').click(function(){
                                                        document.getElementById('addMessageSubscription').innerHTML=campaignMessage;
                                                        document.getElementById('subscription-message-header').innerHTML=campaignMessageHead;
                                                        document.getElementById('create-classified').style.filter='blur(3px)';
                                                        document.getElementById('create-classified').style.pointerEvents='none';
                                                        document.getElementsByClassName('subscription-message')[0].style.display="block";
                                                        document.getElementById("convert_to_campaign").checked = false;
                                                        document.getElementById('subscription-message-close').style.display="block";

                                                    })
                                                    $('#subscription-message-close').click(function(){
                                                         document.getElementById('create-classified').style.filter='none';
                                                         document.getElementById('create-classified').style.pointerEvents='';
                                                    })
                                                </script>
                                            {% endif %}



                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12 my-1">
                                            <label for="classified_description">Description</label>
                                            <textarea class="form-control"
                                                      rows="17"
                                                      name="classified_description"
                                                      id="classified_description"
                                                      required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <hr style="margin: 1rem 0; border-color: #d3dce9;">
                                </div>
                                {% if classified_count<=0 %}
                                <script>
                                    document.getElementById('addMessageSubscription').innerHTML='{{messageSubscription['Classified Ads Posting']['text']}}';
                                    document.getElementById('subscription-message-header').innerHTML='{{messageSubscription['Classified Ads Posting']['heading']}}';
                                    document.getElementById('create-classified').style.filter='blur(3px)';
                                    document.getElementById('create-classified').style.pointerEvents='none';
                                    document.getElementsByClassName('subscription-message')[0].style.display="block";
                                    document.getElementById('subscription-message-close').style.display='none';
                                </script>

                                {% else %}
                                <div class="col-12 my-1 d-flex justify-content-end">
                                    <button type="submit" id="savecampaign" class="btn btn-primary m-0 bg-color1">
                                        Save
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function change_format(){
        var val=document.getElementById('budget').value;
        var count=val.split(".").length-1;
        if(isNaN(val[val.length-1]) && val[val.length-1]!='.'){
            document.getElementById('budget').value=val.substring(0,val.length-1);
            return;
        }
        if(count==2){
             document.getElementById('budget').value=val.substring(0,val.length-1);
            return;
        }
        if(val.length==2 && val[0]=='{{currencySign}}'){
             document.getElementById('budget').value=''
        }
        if(val[0]!='{{currencySign}}'){
            val=document.getElementById('budget').value;
            document.getElementById('budget').value='{{currencySign}} '+val;

        }

    }
</script>
{% endblock %}