{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Classified Ads - All</div>
            <p class="content-sub-header"></p>
        </div>
    </div>
    <div class="row">
        {% for item in all_classified_data %}
        <div class="col-md-6">
            <div class="card offers_item">
                <div class="card-header">
                    <div class="row offers_item__header">
                        <div class="col-6"><i class="ft ft-eye"></i> Views</div>
                        <div class="col-6 text-right"><i class="ft ft-calendar"></i> posted on:</div>
                    </div>
                    <div class="row offers_item__header">
                        {% if item['no_of_views']==None %}
                            <div class="col-6">0</div>
                        {% else %}
                            <div class="col-6"> {{item['no_of_views']}}</div>
                        {% endif %}
                        <div class="col-6 text-right">{{item['posted_date']}}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="offers_item__title  d-flex align-items-center justify-content-between">
                                <p style="margin:0;">{{ item['classified_name'] }}&nbsp&nbsp<i data-toggle="tooltip" data-original-title="Active" id="classified-status-button{{loop.index}}" class="fas fa-circle" style="font-size: 0.7rem;color: lightgreen;border-radius: 50%;cursor:pointer;"></i></p>

                                <div class="all-menu text-right">
                                        <a id="copy-option{{loop.index}}" data-toggle="tooltip"
                                           title="Copy Classified" style="display:none;" onclick="submitNewClassifiedAdd('{{item['classified_id']}}')">
                                            <i class="copy-classified-ads far fa-copy"></i>
                                        </a>
                                        {% if countClassified<=0%}
                                            <script>
                                                var valueClassified=Number('{{countClassified}}');
                                                document.getElementById('addMessageSubscription').innerHTML='{{messageSubscription['Classified Ads Posting']}}';
                                                $('#subscription-message-close').click(function(){
                                                    document.getElementsByClassName('content-wrapper')[0].style.filter='none';
                                                    document.getElementsByClassName('content-wrapper')[0].style.pointerEvents='';
                                                    document.getElementsByClassName('subscription-message')[0].style.display="none";
                                                    document.getElementById('subscription-message-close').style.display='none';
                                                })
                                            </script>
                                        {% else %}
                                            <script>
                                                var valueClassified=Number('{{countClassified}}');
                                            </script>
                                        {% endif %}
                                        <a id="edit-option{{loop.index}}" href="/editClassified/{{ item['classified_id'] }}" data-toggle="tooltip"
                                           title="Edit Classified" style="display:none;"><i class="edit-classified-ads far fa-edit"></i></a>
                                        <a id="delete-option{{loop.index}}" href="/deleteClassified/{{ item['classified_id'] }}" data-toggle="tooltip"
                                           title="Delete Classified" style="display:none;"><i class="delete-classified-ads far fa-trash-alt"></i></a>
                                        <a class="multiple-option{{loop.index}}" data-toggle="tooltip"
                                           title="Options"><i class="multiple-classified-ads fas fa-ellipsis-v" onclick="showMultipleMenu({{loop.index}})"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="row photo__row">
                                <div class="col-12">
                                    {% set files = item['files'].split(',') %}
                                    <div class="main__image" style="background-image: url(../static/campaign_files/{{ files[0] }})"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    <span class="bold-500-letter-spacing">General Info:</span>
                                </div>
                                <div class="col-12">
                                    <div class="engagement">
                                        <div class="rating" data-min-followers="{{item['min_lower_followers']}}" data-max-followers="{{item['max_upper_followers']}}">

                                        </div>
                                        <div class="rating-txt">
                                            Followers
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="engagement">
                                        <div class="rating" data-budget="{{ item['budget'] }}" data-currency="{{item['currency']}}">

                                        </div>
                                        <div class="rating-txt">
                                            Remuneration
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                        <span class="social bold-500-letter-spacing">Channels:
                                            {% set channels = item['channels'].split(',') %}

                                        </span>
                                        <ul style="list-style:none;display:inline-flex;padding:0;">
                                            {% for channel in channels %}
                                            {% if channel == 'youtube' %}
                                                <li style="margin-right:5px;"><a href="#" class="fa fa-youtube" style="font-size:20px;"></a></li>
                                                {% elif channel == 'facebook' %}
                                                <li style="margin-right:5px;"><a href="#" class="fa fa-facebook-square" style="font-size:20px;"></a></li>
                                                {% elif channel == 'twitter' %}
                                                <li style="margin-right:5px;"><a href="#" class="fa fa-twitter" style="font-size:20px;"></a></li>
                                                {% elif channel == 'instagram' %}
                                                <li style="margin-right:5px;"><a href="#" class="fa fa-instagram" style="font-size:20px;"></a></li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    <hr>
                                </div>

                                <div class="col-12">
                                    <span class="bold-500-letter-spacing">Content Type: </span>
                                </div>

                                <div class="col-12">
                                    <div class="arrangements">
                                        {% set arrangements = item['arrangements'].split(',') %}
                                        <span class="color1" style="font-size:15px;">{{ ", ".join(arrangements) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <hr style="margin: 3px 0;">
                            <div class="row">
                                <div class="col-12">
                                    <span class="bold-500-letter-spacing">Categories: </span>
                                </div>
                                <div class="col-12 categories">
                                    <div class="cat d-flex flex-wrap">
                                        {% set video_cat_names = item['video_cat_name'].split(',') %}
                                        {% for video_cat_name in video_cat_names %}
                                        <span class="offers_item__categories">{{ video_cat_name }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <div class="offers_item__footer">
                        <div class="row d-flex align-items-center mt-2">
                            <div class="col-md-6 d-flex flex-row align-items-center">
                                {% if profile_data['data']['profile_pic'] %}
                                <img src="../static/img/{{ profile_data['data']['profile_pic'] }}"
                                     class="rounded offers_item__profile-thumb channel-image-circle">
                                {% else %}
                                <img src="../static/img/fixed_image.png" class="rounded offers_item__profile-thumb channel-image-circle">
                                {% endif %}
                                <span>{{ profile_data['data']['first_name'] }} {{ profile_data['data']['last_name'] }}</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="/viewClassifiedDetails/{{ item['classified_id'] }}"
                                   class="btn btn-raised btn-primary bg-color1 mb-0">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<script>
    $(document).ready(function(){
        var items=document.getElementsByClassName('classified-status-button');
        {% for item in all_classified_data %}
            var postedOn=new Date('{{item['posted_date']}}').getTime();
            var todayDate=new Date();
            var timeDate=todayDate.setDate(todayDate.getDate() - 30);
            if(postedOn<timeDate){
                $('#classified-status-button'+{{loop.index}})[0].style.color='red';
                $('#classified-status-button'+{{loop.index}})[0].dataset.originalTitle="Expired";
            }
        {% endfor%}
        var currencyList={"EUR":"€","GBR":"£","INR":"₹","USD":"$"}
        var rating=$('.rating')
        for(var i=0;i<rating.length;i=i+2){
            min=rating[i].dataset.minFollowers;
            max=rating[i].dataset.maxFollowers;
            budget=rating[i+1].dataset.budget;
            currency=rating[i+1].dataset.currency;
            console.log(min,max,budget,currency);
            rating[i].innerText=abbrNum(min,0)+ "-" +abbrNum(max,0)
            rating[i+1].innerText=currencyList[currency]+" "+Number(budget).toFixed(2)
        }
    })
</script>
{% endblock %}