<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110601510-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110601510-2');
    </script>
    <script type="text/javascript">
    window.$crisp=[];window.CRISP_WEBSITE_ID="bcabd24e-fc9c-4437-bd86-7efa9e04ac89";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="Kiran Padwal" content="Connecsi">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/app-assets/img-gallery/gallery.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='app-assets/img/ico/apple-icon-60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='app-assets/img/ico/apple-icon-76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="static/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/app-assets/img/ico/Icon_Only_48x48_color.png">
    <link rel="shortcut icon" type="image/png" href="static/app-assets/img/ico/Icon_Only_48x48_color.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/feather/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/simple-line-icons/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/font-awesome/css/font-awesome.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/perfect-scrollbar.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/prism.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/chartist.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/fullcalendar.min.css') }}">

    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <!--{{ url_for('static', filename='app-assets/css/app.css') }}-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/datapicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro_profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro-offers.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">

    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/noUiSlider.11.1.0/nouislider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Jquery-Pagination/css/pagination.css') }}">
    <!--<link href="https://materializecss.com/extras/noUiSlider/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection">-->

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->

    <script src="{{ url_for('static', filename='app-assets/vendors/js/core/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body data-col="2-columns" class=" 2-columns loading" id="brand-view">
{% include 'includes/_navbar.html'%}
<!-- END HEADER -->

<!-- START WRAPPER -->
<div class="wrapper">
    {% include 'includes/_sidenav.html' %}
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper"><!--Statistics cards Starts-->
                {% include 'includes/_flash_messages.html' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!--start container-->

    <!--end container-->
    <!--{% include 'includes/_right_sidenav.html' %}-->
</div>

{% block footer %}{% endblock %}
<!--{% include 'includes/_footer.html' %}-->
<!-- BEGIN VENDOR JS-->
<!--<script src="{{ url_for('static', filename='app-assets/vendors/js/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>-->

<script src="{{ url_for('static', filename='app-assets/vendors/js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>-->
<script src="{{ url_for('static', filename='app-assets/vendors/js/prism.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/jquery.matchHeight-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/screenfull.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/pace/pace.min.js') }}" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{{ url_for('static', filename='app-assets/vendors/js/chartist.min.js') }}" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<script src="{{ url_for('static', filename='app-assets/vendors/js/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/fullcalendar.min.js') }}" type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN APEX JS-->
<script src="{{ url_for('static', filename='app-assets/js/app-sidebar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/notification-sidebar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/customizer.js') }}" type="text/javascript"></script>
<!-- END APEX JS-->
<!-- BEGIN PAGE LEVEL JS-->
<!--<script src="{{ url_for('static', filename='app-assets/js/dashboard1.js') }}" type="text/javascript"></script>-->
<!--<script src="{{ url_for('static', filename='app-assets/js/fullcalendar.js') }}" type="text/javascript"></script>-->

<!-- END PAGE LEVEL JS-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/js/plugins/jquery-1.11.2.min.js"></script>-->
<!-- Toast Notification -->
<script src="{{ url_for('static', filename='app-assets/noUiSlider.11.1.0/nouislider.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/inbox.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='Jquery-Pagination/js/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-lazyloading/jquery.lazyscript.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize-plugins/date_picker/picker.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize-plugins/date_picker/picker.date.js') }}"></script>

<script src="{{ url_for('static', filename='app-assets/js/datapicker.js') }}"></script>
<script src="{{ url_for('static', filename='app-assets/js/bootstrap-select.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>

<!--<script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>-->
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static', filename='app-assets/js/custom.js') }}" type="text/javascript"></script>


<!--<script type="text/javascript" src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
</body>
</html>