<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110601510-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110601510-2');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="Kiran Padwal" content="Connecsi">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/static/app-assets/img-gallery/gallery.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='app-assets/img/ico/apple-icon-60.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='app-assets/img/ico/apple-icon-76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="static/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/app-assets/img/ico/Icon_Only_48x48_color.png">
    <link rel="shortcut icon" type="image/png" href="static/app-assets/img/ico/Icon_Only_48x48_color.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/feather/style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/simple-line-icons/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/fonts/font-awesome/css/font-awesome.min.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/perfect-scrollbar.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/prism.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/chartist.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/vendors/css/fullcalendar.min.css') }}">

    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <!--{{ url_for('static', filename='app-assets/css/app.css') }}-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/datapicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro_profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toro-offers.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">

    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app-assets/noUiSlider.11.1.0/nouislider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Jquery-Pagination/css/pagination.css') }}">
    <!--<link href="https://materializecss.com/extras/noUiSlider/nouislider.css" type="text/css" rel="stylesheet" media="screen,projection">-->

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->

    <script src="{{ url_for('static', filename='app-assets/vendors/js/core/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
</head>
<body data-col="2-columns" class=" 2-columns loading" id="brand-view">
<div id="loader-div">
    <div class="loader-gif"></div>
</div>
<!--<div id="loader"></div>-->
<div class="subscription-message">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <button id="subscription-message-close" class="button float-right">X</button>
            </div>

            <div class="col-12 text-center">
                <h5>OOPS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="subscriptionMessage" id="addMessageSubscription"></div>
            </div>
        </div>
        <div class="row" style="margin-top:1rem;">
            <div class="col-6">
                <div class="custom-buttom" style="text-align:center;">
                    <button id="customSubButton" class="button">Custom</button>
                </div>
            </div>
            <div class="col-6">
                <div class="upgradeSub-buttom" style="text-align:center;">
                    <button id="upgradeSubButton" class="button">Upgrade</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscription-popup">
    <div class="container-fluid">
        <div class="row" >
            <button id="subscription-close" type="button" style="margin-left:95%;">X</button>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th>FEATURES</th>
                    <td colspan="2">Create Campaign</td>
                    <td>Price</td>
                    <td></td>
                </tr>
                <tr>
                    <form action="/payment" method="post">
                        <th>Custom
                            <input type="text" name="package_name" value="Custom" style="display:none;">
                        </th>
                        <td>
                            <input type="text" name="feature1" value="Create Campaign" style="display:none;">
                            <input id="count1" type="number"  name="count1" min="0" max="1000" value="0" step="5">
                        </td>
                        <td>5</td>
                        <td>
                            <input  id="price1" type="hidden"  name="price1"  value="">
                            <p id="totalPrice" style="margin:0;">0</p>
                        </td>
                        <td>
                            <button type="submit">BUY</button>
                        </td>
                    </form>
                </tr>
                <tr>
                    <form action="/payment" method="post">
                        <th>Basic
                            <input type="text" name="package_name" value="Basic" style="display:none;">
                        </th>
                        <td>10
                            <input  id="count2" type="hidden"  name="count2"  value="10">
                        </td>
                        <td>10</td>
                        <td>10
                            <input  id="price2" type="hidden"  name="price2"  value="10">
                        </td>
                        <td>
                            <button type="submit">BUY</button>
                        </td>
                    </form>
                </tr>
                <tr>
                    <form action="/payment" method="post">
                        <th>Professional
                            <input type="text" name="package_name" value="Professional" style="display:none;">
                        </th>
                        <td>20
                            <input  id="count3" type="hidden"  name="count3"  value="20">
                        </td>
                        <td>20</td>
                        <td>20
                            <input  id="price3" type="hidden"  name="price3"  value="20">
                        </td>
                        <td>
                            <button type="submit">BUY</button>
                        </td>
                    </form>
                </tr>
                <tr>

                    <form action="/payment" method="post">
                        <th>Enterprise
                            <input type="text" name="package_name" value="Enterprise" style="display:none;">
                        </th>
                        <td>Unlimited
                            <input  id="count4" type="hidden"  name="count4"  value="1000000">
                        </td>
                        <td>-</td>
                        <td>100
                            <input  id="price4" type="hidden"  name="price4"  value="100">
                        </td>
                        <td>
                            <button type="submit">BUY</button>
                        </td>
                    </form>
                </tr>
            </table>

        </div>
    </div>
</div>

{% include 'includes/_navbar.html'%}
<!-- END HEADER -->

<!-- START WRAPPER -->
<div class="wrapper">
    {% include 'includes/_sidenav.html' %}
    <div class="main-panel">
        <div class="main-content">
            <div class="content-wrapper"><!--Statistics cards Starts-->
                {% include 'includes/_flash_messages.html' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <!--start container-->
<aside _ngcontent-yaw-c4="" class="notification-sidebar" id="notification-sidebar">
        <a _ngcontent-yaw-c4="" class="notification-sidebar-close">
            <i _ngcontent-yaw-c4="" class="ft-x font-large-1" style="color:#9370DB;"></i>
        </a>
        <div _ngcontent-yaw-c4="" class="side-nav notification-sidebar-content ps ps--active-y">
            <div _ngcontent-yaw-c4="" >
                <div _ngcontent-yaw-c4="" class="col-12 mt-1">
                    <ngb-tabset _ngcontent-yaw-c4="">
                        <ul role="tablist" class="nav nav-tabs justify-content-start"><!---->
                            <li class="nav-item ng-star-inserted">
                                <a class="nav-link active" role="tab" id="ngb-tab-0" aria-expanded="true" aria-disabled="false" aria-controls="ngb-tab-0-panel"> <!---->
                                    <div style="display:inline-flex;">
                                        <div>
                                            <b _ngcontent-yaw-c4="" class="ng-star-inserted" style="color:#9370DB;">HELP</b>
                                        </div>
                                        <div style="padding-top: 2px;margin-left: 6px;">
                                            <span style="margin-right:4px;"><i class="fa fa-question-circle" style="color:#9370DB;"></i></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="help-top">
                                <div class="search-previous-icon">
                                    <div class="search-icon"><i class="fa fa-search fa-lg"></i></div>
                                    <div class="previous-icon" onclick="previousMenu()"><i class="fa fa-chevron-left"></i></div>
                                </div>
                                <div class="search-area">
                                    <input type="text" id="search-input-text" placeholder="Search">
                                </div>
                                <div class="clear-icon" onclick="clearInputText()"><i class="fa fa-close"></i></div>
                            </div>
                            <div class="help-menu">
                                <ul>
                                    <li class="guide-menu" onclick="helpFunction(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Guide to Connecsi</div>
                                            <div><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="billing-payments-menu" onclick="helpFunction(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Billing and payment issues</div>
                                            <div><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="account-menu" onclick="helpFunction(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Problem with my account</div>
                                            <div><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="report-issue-menu" onclick="helpFunction(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Report an issue</div>
                                            <div><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-expand">
                                <ul class="guide-menu-list">
                                    <li class="create-campaign" onclick="guideConnecsi(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Create a Campaign</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="create-classified-ad" onclick="guideConnecsi(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Create a Classified Ad</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="search-influencers" onclick="guideConnecsi(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Search Influencers</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="tag-campaigns-to-messages" onclick="guideConnecsi(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Tag Campaigns to messages</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li class="messaging" onclick="guideConnecsi(this)">
                                        <div class="list-down">
                                            <div class="list-down-name">Messaging</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="billing-payments-menu-list">
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">First thing</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Second thing</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Third thing</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fourth thing</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fifth thing</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="account-menu-list">
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">First thing account</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Second thing account</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fourth thing account</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fifth thing account</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="report-issue-menu-list">
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">First thing issue</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Second thing issue</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Third thing issue</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fourth thing issue</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list-down">
                                            <div class="list-down-name">Fifth thing issue</div>
                                            <div class="list-down-icon"><i class="fa fa-chevron-right"></i></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="description-list">
                                <div class="create-campaign-data">
                                    <ul>
                                        <li>Go to your menu and click on “New Campaign” under the “Campaigns” section. Alternatively, you may use the “Create” button from your Dashboard view and then select “Campaign”.</li>
                                        <li>Fill in the form:</li>
                                        <li>Check the box “POST AS CLASSIFIED AD” if you would like to post your campaign as a public offer for Influencers.</li>
                                        <li>Now press the “Save” button and it’s done.</li>
                                        <li> Now that your campaign is created, you can go ahead and start searching for Influencers.</li>
                                    </ul>
                                </div>
                                <div class="create-classified-ad-data">
                                    <ul>
                                        <li>Go to your menu and click on “New Classified Ad” under the “Classified Ads” section. Alternatively, you may use the “Create” button from your Dashboard view and then select “Classified Ad”.</li>
                                        <li>Fill in the form:</li>
                                        <li>Check the box “POST AS CAMPAIGN” if you would like to create a campaign already.</li>
                                        <li>Now press the “Save” button and it’s done.</li>
                                    </ul>
                                </div>
                                <div class="search-influencers-data">
                                    <ul>
                                        <li><b>Option 1 - Direct Search:</b>
                                            <ul>
                                                <li>Go to your Menu and click on “search” and then select “Influencer”. Alternatively, you may use the “Search” button from your Dashboard view and then select “Influencer” to get the same search panel.</li>
                                                <li>Now, fill in your search query.</li>
                                                <li>For example: Let’s say you are looking for a YouTube Influencer from United States, who creates Gaming content.</li>
                                                <li>Now, you select “YouTube” in your Channels Input, then in Categories you choose “Gaming” and for the Country, You choose United States.</li>
                                                <li>You can also adjust the range of Followers and click on search.</li>
                                                <li>Now, you see all the results with YouTube statistics of the Influencers that match your criteria.</li>
                                            </ul>
                                        </li>
                                        <li><b>Option 2 - Via Campaign:</b>
                                            <ul>
                                                <li> Go to your Menu and click on “Campaign” and then select “All Campaigns”. Now, click on this icon.</li>
                                                <li>Now, the system automatically fills in your search parameters based on your campaign’s requirements.</li>
                                                <li>All you have to do is to press the “search” button and you will see the list of Influencers that match your campaign requirements.</li>
                                            </ul>
                                        </li>
                                        <li><b>Option 3 - Via Classified Ads:</b>
                                            <ul>
                                                <li>Check out our Classified Ads section here.</li>
                                            </ul>
                                        </li>
                                        <li><b>Option 4 - Influencers' Offers:</b>
                                            <ul>
                                                <li> Go to your Menu and click on Search and then select Offers. Alternatively, you may use the Search button from your Dashboard view and then select Offers to get the same search panel.</li>
                                                <li>Now, fill in your search query.</li>
                                                <li>For example: Let’s say you are looking for a YouTube Influencer from United States, who creates Gaming content.</li>
                                                <li>Now, you select ‘YouTube’ in your Channels Input, then in Categories you choose ‘Gaming’ and for the Country, You choose ‘United States’.</li>
                                                <li>Additionally, you may select – Content-Type, Range of Followers & Price Range of the offers.</li>
                                                <li>Now, you see all the offers that match with your requirements and you may respond to the offers by direct messaging the Influencers.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tag-campaigns-to-messages-data">
                                    <ul>
                                        <li>When you compose a New Message, you generally start with a subject line and then the body of the message.</li>
                                        <li>At Connecsi, you will notice an additional field Campaign, so when you click on this dropdown option, you will see a list of all your available Campaigns.</li>
                                        <li>You may select the Campaign that you want to discuss with the Influencer and now it will tagged with all your conversations related to this particular</li>
                                    </ul>
                                </div>
                                <div class="messaging-data">
                                    <ul>
                                        <li>Just like any other platform, our message section is also self-explanatory.</li>
                                        <li> In our messaging section you will notice a distinctive sidebar on the right. This section is designed to make your</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ngb-tabset>
                </div>
            </div>

        </div>
    </aside>
    <!--end container-->
    <!--{% include 'includes/_right_sidenav.html' %}-->
</div>




{% block footer %}{% endblock %}
<!--{% include 'includes/_footer.html' %}-->
<!-- BEGIN VENDOR JS-->
<!--<script src="{{ url_for('static', filename='app-assets/vendors/js/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>-->

<script src="{{ url_for('static', filename='app-assets/vendors/js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>-->
<script src="{{ url_for('static', filename='app-assets/vendors/js/prism.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/jquery.matchHeight-min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/screenfull.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/pace/pace.min.js') }}" type="text/javascript"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="{{ url_for('static', filename='app-assets/vendors/js/chartist.min.js') }}" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<script src="{{ url_for('static', filename='app-assets/vendors/js/moment.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/vendors/js/fullcalendar.min.js') }}" type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN APEX JS-->
<script src="{{ url_for('static', filename='app-assets/js/app-sidebar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/notification-sidebar.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/customizer.js') }}" type="text/javascript"></script>
<!-- END APEX JS-->
<!-- BEGIN PAGE LEVEL JS-->
<!--<script src="{{ url_for('static', filename='app-assets/js/dashboard1.js') }}" type="text/javascript"></script>-->
<!--<script src="{{ url_for('static', filename='app-assets/js/fullcalendar.js') }}" type="text/javascript"></script>-->

<!-- END PAGE LEVEL JS-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/js/plugins/jquery-1.11.2.min.js"></script>-->
<!-- Toast Notification -->
<script src="{{ url_for('static', filename='app-assets/noUiSlider.11.1.0/nouislider.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-assets/js/inbox.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='Jquery-Pagination/js/pagination.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-lazyloading/jquery.lazyscript.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize-plugins/date_picker/picker.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize-plugins/date_picker/picker.date.js') }}"></script>

<script src="{{ url_for('static', filename='app-assets/js/datapicker.js') }}"></script>
<script src="{{ url_for('static', filename='app-assets/js/bootstrap-select.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script>

<!--<script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>-->
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static', filename='app-assets/js/custom.js') }}" type="text/javascript"></script>


<!--<script type="text/javascript" src="http://materializecss.com/extras/noUiSlider/nouislider.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
<script>
if(localStorage.getItem('loginRoute')){
    var routing= localStorage.getItem('loginRoute');
    console.log("login away going",localStorage.getItem('loginRoute'));
    window.location.href = routing;
    localStorage.removeItem('loginRoute');
}
    function setValue(){
        document.getElementsByClassName('create-campaign-data')[0].style.display='none';
        document.getElementsByClassName('create-classified-ad-data')[0].style.display='none';
        document.getElementsByClassName('search-influencers-data')[0].style.display='none';
        document.getElementsByClassName('tag-campaigns-to-messages-data')[0].style.display='none';
        document.getElementsByClassName('messaging-data')[0].style.display='none';
    }
    function previousMenu(){
        if((document.getElementsByClassName('guide-menu-list')[0].style.display=='block')||(document.getElementsByClassName('billing-payments-menu-list')[0].style.display=='block')||(document.getElementsByClassName('account-menu-list')[0].style.display=='block')||(document.getElementsByClassName('report-issue-menu-list')[0].style.display=='block')){
            clearInputText();
            return;
        }
        if(document.getElementsByClassName('create-campaign-data')[0].style.display=='block'||document.getElementsByClassName('create-classified-ad-data')[0].style.display=='block'||document.getElementsByClassName('search-influencers-data')[0].style.display=='block'||document.getElementsByClassName('tag-campaigns-to-messages-data')[0].style.display=='block'||document.getElementsByClassName('messaging-data')[0].style.display=='block'){
            document.getElementsByClassName('search-icon')[0].style.display='none';
            document.getElementsByClassName('previous-icon')[0].style.display='block';
            document.getElementsByClassName('clear-icon')[0].style.display='block';
            document.getElementById('search-input-text').value='';
            document.getElementById('search-input-text').value='Guide to Connecsi';
            document.getElementsByClassName('help-menu')[0].style.display='none';
            document.getElementsByClassName('guide-menu-list')[0].style.display='block';
            setValue();
            return;
        }


    }
    function helpFunction(x){
        console.log("help menu",x);
        document.getElementsByClassName('search-icon')[0].style.display='none';
        document.getElementsByClassName('previous-icon')[0].style.display='block';
        document.getElementsByClassName('clear-icon')[0].style.display='block';
        var listName=x.childNodes[1].innerText;
        document.getElementById('search-input-text').value='';
        document.getElementById('search-input-text').value=listName;
        document.getElementsByClassName('help-menu')[0].style.display='none';
        var classToShow=x.className+'-list';
        document.getElementsByClassName(classToShow)[0].style.display='block';
    }
    function guideConnecsi(x){
        console.log("GUIDE menu list",x);
        var listName=x.childNodes[1].innerText;
        document.getElementById('search-input-text').value='';
        document.getElementById('search-input-text').value=listName;
        document.getElementsByClassName('help-menu')[0].style.display='none';
        document.getElementsByClassName('guide-menu-list')[0].style.display='none';
        var classToShow=x.className+'-data';
        document.getElementsByClassName(classToShow)[0].style.display='block';
    }
    function clearInputText(){
        document.getElementById('search-input-text').value='';
        document.getElementsByClassName('help-menu')[0].style.display='block';
        document.getElementsByClassName('guide-menu-list')[0].style.display='none';
        document.getElementsByClassName('billing-payments-menu-list')[0].style.display='none';
        document.getElementsByClassName('account-menu-list')[0].style.display='none';
        document.getElementsByClassName('report-issue-menu-list')[0].style.display='none';
        document.getElementsByClassName('search-icon')[0].style.display='block';
        document.getElementsByClassName('previous-icon')[0].style.display='none';
        document.getElementsByClassName('clear-icon')[0].style.display='none';
        setValue();
    }
    $('#search-input-text').keyup(function(){

        if( $('#search-input-text').val()==''){
            document.getElementsByClassName('clear-icon')[0].style.display='none';
        }
        else{
            document.getElementsByClassName('clear-icon')[0].style.display='block';
        }
    })

</script>
</body>
</html>