{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}

<div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Error while paying</h1>
        <p class="lead">There was some error while payment please contact customer support.</p>
      </div>

      <footer class="footer">
        <p>&copy; Connecsi 2019</p>

      </footer>

    </div> <!-- /container -->

    <!--<script>-->
        <!--var value='{{data}}';-->
        <!--var readyString=value.replace(/&#39;/g,'"');-->
        <!--var subscriptionData=JSON.parse(readyString);-->
        <!--$.ajax({-->
            <!--type:'POST',-->
            <!--url:'/updateBrandSubscriptionPackageDetails',-->
            <!--data:subscriptionData,-->
            <!--success:function(data){-->
                <!--console.log(data)-->
            <!--}-->
        <!--})-->
    <!--</script>-->
{% endblock %}