<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row" style="margin:2%;">
    <div class="col-sm-9">
     <b style="font-size:25px;">
	 Connecsi<br></b>
	 <b>
Długosza 25A<br>
Poznań, Poland<br>
Website : www.connecsi.com<br>
E-mail : info@connecsi.com<br>
Phone : +1 - 123456789<br>
Buyer :<br>
</b>
Bhavya Chourasiya<br>
India

    </div>
    <div class="col-sm-3" >
      Invoice No : FV 12103012<br>
Dated : 2018-10-16 18:08:27<br>
Currency : USD
    </div>
  </div>
  <div class="row" style="margin:2%;">
  <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"style="background-color:#9EA09D;">Sl. No.</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Rate</th>
	  <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >1</th>
      <td>Services on connecsi
Description : test</td>
      <td>1</td>
      <td>$5</td>
	  <td>$5</td>
    </tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td>Total:</td>
	<td>$5</td>
	</tr>

  </tbody>
</table>
  </div>
  <hr>
  <div class="row" style="margin:2%;">
    <div class="col-sm-9">
    Payment Information :<br>
Please make cheque payments payable to :<br>
<b>Connecsi</b>

    </div>
    <div class="col-sm-3" >
      E & O.E.<br>
Connecsi

    </div>
  </div>
  <div class="row" style="margin:2%;">
    <div class="col-sm-9">
    The Invoice is payable within 7 days of issue.
    </div>
    <div class="col-sm-3" >
      Authorised Signatory
    </div>
  </div>
</div>

</body>
</html>