{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}

<div class="container">
    <div  class="section">
        <div class="row">
            <div class="col s12 m4 l6">
                <h4 class="header">Payment Gateway Page confirmation page with selected package and features</h4>
                <div class="card-panel">
                    final checkout page (confirmation page)
                    <!--<a href="/checkout" class="btn hoverable">Checkout</a>-->
                    <form action="{{ url_for('pay') }}" method="POST">
                        <input type="hidden" name="amount" value="{{amount}}">
                        <input type="hidden" name="data" value="{{data}}">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ pub_key }}"
                                data-amount={{amount}}
                                data-name="Connecsi"
                                data-description="Widget"
                                data-image="./static/img/logo_Only_1024x768_color.png"
                                data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}