{% extends 'dashboard_layout_inf.html' %}
{{ super() }}
{% block body %}
<!--Basic User Details Starts-->

<section id="user-profile">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Profile - Edit Profile</div>
            <p class="content-sub-header"></p>
        </div>
    </div>
    <div class="row">
        {% for item in data['data'] %}
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row px-3 py-3">
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-12">
                                    <!--<h6 class="social-media_title">Profile Picture</h6>-->
                                </div>
                                <div class="col-12 d-flex flex-lg-row flex-md-column flex-sm-column flex-column align-items-lg-start align-items-md-start align-items-sm-start align-items-start">
                                    {% if item['profile_pic'] %}
                                    <img id="profile_pic" src="static/img/{{ item['profile_pic'] }}"
                                         class="img-border width-150" alt="Card image" height="150px"
                                         width="150px">
                                    {% else %}
                                    <img id="profile_pic" src="static/img/fixed_image.png"
                                         class="img-border width-150" alt="Card image">
                                    {% endif %}
                                    <div class="user">
                                        <h4 class="nickname">
                                            {% if item['first_name'] or item['last_name'] %}
                                    {{ item['first_name'] }} {{item['last_name']}}
                                    {% else %}
                                    {{ item['title'] }}
                                    {% endif %}
                                        </h4>
                                        <div class="user_content">
                                            <div class="subscription">Subscription Type : Beta</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <h6 class="social-media_title">Social media accounts</h6>
                            <div class="social-media">
                                {% if data['data']['facebook_url'] %}
                                <a href="#facebook_url" class="social-media_icon fa fa-facebook-square"
                                   title="facebook"></a>
                                {% else %}
                                <span data-toggle="tooltip" title="Feature coming soon">
                                <a href="#facebook_url" class="social-media_icon none-active fa fa-facebook-square"
                                   title="facebook"></a>
                                </span>
                                &nbsp&nbsp&nbsp&nbsp
                                {% endif %}

                                {% if item['mapped_twitter_channel_id'] %}
                                <a href="https://www.twitter.com/{{item['screen_name']}}" target="_blank" class="social-media_icon fa fa-twitter-square"
                                   title="twitter"></a>
                                {% else %}
                                <a href="#twitter" class="social-media_icon none-active fa fa-twitter-square"
                                   title="twitter"></a>
                                {% endif %}

                                {% if item['mapped_insta_channel_id'] %}
                                <a href="https://www.instagram.com/{{item['insta_username']}}" target="_blank" class="social-media_icon fa fa-instagram" title="instagram"></a>
                                {% else %}
                                <a href="#insta_url" class="social-media_icon fa fa-instagram none-active"
                                   title="instagram" ></a>
                                {% endif %}

                                <a href="https://www.youtube.com/channel/{{item['channel_id']}}" target="_blank" class="social-media_icon fa fa-youtube" title="youtube"></a>
                                {% if item['mapped_twitter_channel_id'] and item['mapped_insta_channel_id'] %}
                                {% else %}
                                <a onclick="return check_category_and_country()" class="fa fa-plus green">
                                        </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form action="/updateProfile_inf" method="POST" class="form">
                    <div class="card-body">
                        <div class="px-3 py-2">
                            <h4 class="form-section"><i class="ft-user"></i> Personal Information </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="first_name">*First Name</label>
                                        <input type="text" id="first_name" class="form-control" name="first_name"
                                               value="{{item['first_name']}}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="last_name">*Last Name</label>
                                        <input type="text" id="last_name" class="form-control" name="last_name"
                                               value="{{item['last_name']}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" id="phone" class="form-control" name="phone"
                                               value="{{ item['phone'] }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="website">WEBSITE</label>
                                        <input type="text" id="website" class="form-control" name="website"
                                               value="{{ item['website']}}" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="videoCategories">Categories</label>
                                        <select class="form-control" id="videoCategories" name="categories"
                                                multiple>
                                            {% if item['youtube_video_cat'] %}
                                                {% set categories = item['youtube_video_cat'] %}
                                                {% set category = categories.split(',') %}
                                                {% for item in videoCat['data'] %}
                                                {% if item['video_cat_name']|string in category %}
                                                <option id="{{item['video_cat_id']}}"
                                                        value="{{ item['video_cat_id'] }}" selected>{{ item['video_cat_name'] }}
                                                </option>
                                                {% else %}
                                                <option id="{{item['video_cat_id']}}"
                                                        value="{{ item['video_cat_id'] }}">{{ item['video_cat_name'] }}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for item in videoCat['data'] %}
                                                <option id="{{item['video_cat_id']}}"
                                                        value="{{ item['video_cat_id'] }}">{{ item['video_cat_name'] }}
                                                </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="country">*Country</label>
                                        {% set country =  item['youtube_country'] %}
                                        <select class="form-control" name="country" id="country" required data-live-search="true">
                                            {% for item1 in regionCodes['data'] %}
                                            {% if item1['region_code'] == country %}
                                            <option  value="{{ item1['region_code'] }}" selected>
                                                {{ item1['country_name'] }}
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                            <option value=""></option>
                                            {% for item1 in regionCodes['data'] %}
                                            {% if item1['region_code'] == country %}
                                            {% else %}
                                            <option  value="{{ item1['region_code'] }}">
                                                {{ item1['country_name'] }}
                                            </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                         <!--<script>-->
                                                        <!--$( document ).ready(function() {-->
                                                           <!--$('#{{item['country']}}').prop("selected", "selected");-->
                                                        <!--});-->
                                            <!--</script>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" id="city" name="city" class="form-control"
                                               value="{{ item['city']}}" placeholder="City"
                                               style="width:400px;"> </span>
                                    </div>
                                </div>
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="full-width">&nbsp;</label>-->
                                        <!--<button type="button" class="btn btn-raised bg-color1 color-white"-->
                                                <!--data-toggle="modal" data-backdrop="true"-->
                                                <!--data-target="#change_pass_modal">Change Password-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end border-0 mb-2">
                        <button type="submit" class="btn btn-raised bg-color1 color-white ml-auto mb-0">Save</button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block footer %}
<div class="modal fade" id="change_pass_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Change Password</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="change_password_form" id="change_password_form" action="/changePassword" method="POST">
                <div class="modal-body">
                    <!--<input class="form-control" required type="text" name="old_password" id="old_password" placeholder="Old Password"><br>-->
                    <input class="form-control" required type="password" name="new_password" id="new_password"
                           placeholder="New Password"><br>
                    <input class="form-control" required type="password" name="con_new_password" id="con_new_password"
                           placeholder="Confirm New Password">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn bg-color1 color-white"
                            onclick="return check('change_password_form','new_password','con_new_password')">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="add_channel_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Add Channel</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul class="list-inline">
                    {% if data['data'][0]['mapped_twitter_channel_id'] %}
                    <li>
                        <span data-toggle="tooltip" title="Instagram Channel Already Added">
                            <a  class="list-inline-item social-media_icon none-active fa fa-twitter" href="#"></a>
                        </span>
                    </li>
                    {% else %}
                    <li><a class="list-inline-item social-media_icon fa fa-twitter" href="/twitter_login"></a></li>
                    {% endif %}
                    {% if data['data'][0]['mapped_insta_channel_id'] %}
                    <li>
                        <span data-toggle="tooltip" title="Instagram Channel Already Added">
                            <a class="list-inline-item social-media_icon none-active fa fa-instagram" href="#"></a>
                        </span>
                    </li>
                    {% else %}
                    <li><a onclick="add_insta_channel_function()" class="list-inline-item social-media_icon fa fa-instagram" href="#"></a></li>
                    {% endif %}
                </ul>


            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="add_insta_modal_form" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Add Instagram Username</b>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form name="add_insta_channel_form" id="add_insta_channel_form" method="post" action="/add_insta_channel">
                    <input type="hidden" name="email_id" value="{{ data['data'][0]['business_email'] }}">
                    <input type="text" name="insta_username" id="insta_username" class="form-control" placeholder="Instagram Username Here">
                    <br>
                    <button type="submit" class="btn btn-raised bg-color1 color-white ml-auto mb-0">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function check_category_and_country(){
        <!--alert('i m here');-->
        {% for item in data['data'] %}
        var country = '{{ item['youtube_country'] }}';
        var category = '{{ item['youtube_video_cat'] }}';

            if(country!='None' && category!='None' && country!='' && category!=''){
               $('#add_channel_modal').modal("show");
            }
            else{
                alert('Please Add Category And Country below');
                if(category=='None' || category ==''){
                    $("#videoCategories").focus();
                }
                else if(country=='None' || country ==''){
                    $("#country").focus();
                }
                return false;
            }

        {% endfor %}
    }

function add_insta_channel_function(){
    $('#add_channel_modal').modal("hide");
    $('#add_insta_modal_form').modal("show");
}


</script>
{% endblock %}