{% extends 'dashboard_layout_inf.html' %}
{{ super() }}
{% block body %}

{% for item in data['data'] %}

<section id="user-profile">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Profile - View Profile</div>
            <p class="content-sub-header"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row px-3 py-3">
                        <div class="col-xl-6 d-flex flex-md-row flex-sm-column flex-column align-items-md-start align-items-sm-start align-items-start">
                            {% if item['profile_pic'] %}
                            <img id="profile_pic" src="static/img/{{ item['profile_pic'] }}"
                                 class="img-border width-150" alt="Card image" height="150px"
                                 width="150px">
                            {% else %}
                            <img id="profile_pic" src="static/img/fixed_image.png"
                                 class="img-border width-150" alt="Card image">
                            {% endif %}
                            <div class="user">
                                <h4 class="nickname">
                                    {% if item['first_name'] or item['last_name'] %}
                                    {{ item['first_name'] }} {{item['last_name']}}
                                    {% else %}
                                    {{ item['title'] }}
                                    {% endif %}
                                </h4>
                                <div class="user_content">
                                    <div class="subscription">Subscription Type : Beta</div>
                                </div>
                                <button class="btn btn-raised bg-color1 color-white text-capitalize" type="button"
                                        data-toggle="tooltip" title="Feature Coming Soon">
                                    Upgrade Here
                                </button>
                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <h6 class="social-media_title">Social media accounts</h6>
                            <div class="social-media">
                                {% if item['facebook_url'] %}
                                <a href="#facebook_url" class="social-media_icon fa fa-facebook-square"
                                   title="facebook"></a>
                                {% else %}
                                <a href="#facebook_url" class="social-media_icon none-active fa fa-facebook-square"
                                   title="facebook"></a>
                                {% endif %}
                                {% if item['twitter_url'] %}
                                <a href="{{item['twitter_url']}}" class="social-media_icon fa fa-twitter"
                                   title="twitter"></a>
                                {% else %}
                                <a href="#twitter_url" class="social-media_icon none-active fa fa-twitter"
                                   title="twitter"></a>
                                {% endif %}
                                {% if item['insta_url'] %}
                                <a href="{{item['insta_url']}}" class="social-media_icon fa fa-instagram" title="instagram"></a>
                                {% else %}
                                <a href="#insta_url" class="social-media_icon none-active fa fa-instagram "
                                   title="instagram"></a>
                                {% endif %}
                                {% if item['channel_id'] %}
                                <a href="https://www.youtube.com/channel/{{item['channel_id']}}" class="social-media_icon fa fa-youtube"
                                   title="youtube"></a>
                                {% else %}
                                <a href="#youtube_url" class="social-media_icon none-active fa fa-youtube"
                                   title="youtube"></a>
                                {% endif %}
                                <!--<a href="#" target="_blank" class="fa fa-plus grey" title="plus" style="font-size:40px;"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row px-3 py-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
                                <!--<div class="row" style="margin-bottom: 5px;">-->
                                    <!--<b style="font-weight:450; margin-right: 1rem">Username:</b> &nbsp;-->
                                    <!--<span class="display-block overflow-hidden">{{item['business_email']}}</span>-->
                                <!--</div>-->
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">E-mail:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                        {{ item['business_email'] }}
                                    </span>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">Telephone:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                        {% if item['phone'] %}
                                        {{ item['phone'] }}
                                        {% else %}

                                        {% endif %}
                                    </span>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">City:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                        {% if item['city'] %}
                                        {{ item['city'] }}
                                        {% else %}

                                        {% endif %}
                                    </span>
                                </div>
                                <!--<div class="row" style="margin-bottom: 5px;">-->
                                    <!--<b style="font-weight:450; margin-right: 1rem">Accounts:</b> &nbsp;-->
                                    <!--<span class="display-block overflow-hidden">-->
                                    <!--</span>-->
                                <!--</div>-->
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">Country:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                    {% if item['country'] %}
                                    <span class="display-block overflow-hidden">{{ item['country'] }}</span>
                                    {% else %}
                                    <span class="display-block overflow-hidden">{{ item['youtube_country'] }}</span>
                                    {% endif %}
                                    </span>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">Balance:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                    </span>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">Category:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                        {{ item['youtube_video_cat'] }}
                                    </span>
                                </div>
                                <div class="row" style="margin-bottom: 5px;">
                                    <b style="font-weight:450; margin-right: 1rem">Website:</b> &nbsp;
                                    <span class="display-block overflow-hidden">
                                    {{ item['website'] }}
                           </span>
                                </div>

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endfor %}
{% endblock %}