{% extends 'layout.html' %}
{{ super() }}
{% block body %}

<style>
.custom-color{
    background-color:#e6e3e3;
    }
 ::placeholder{
        color: black;
    }
</style>
<div class="row login">

    <div class="col s6 l4 offset-l4" style="background-color: white !important; ">
        <div class="custom-color" style="width: 400px; height: 400px; border:2px solid black;">
            <div class="custom-color" style="border-bottom:2px solid black; height: 80px !important;">
                <img src={{ url_for('static', filename='img/logo3.png') }} width="160px" height="160px" class="responsive-img" style="margin-left:110px; margin-top: -20px;">
            </div>
            <br>
            <div class="center-align custom-color" style="margin-top: 20px;  margin-top: 3px !important;">
                <b style="font-size: 20px; color:black !important;" class="white-text" >THANK YOU!</b>
                <br>

                <p class="white-text" style="color:black !important;">Your registration has been successful</p>

                <p class="white-text" style="color:black !important;">Please check your email to activate your account.</p>

                <div class="form-field center-align">
                <a  class="waves-effect waves-light btn-small  hoverable login-btn" href="/" style="width:250px; background: linear-gradient(#e6e3e3,#e6e3e3); margin-top: 15px; border-radius: 0.25rem; color:black !important;" >RESEND ACTIVATION E-MAIL</a>
                </div>
                <div class="form-field center-align">
                    <a  class="waves-effect waves-light btn-small  hoverable login-btn" href="/" style="width:250px; background: linear-gradient(#A519F7,#198FF7); margin-top: 15px; border-radius: 0.25rem" >CONTINUE</a>
                </div>


            </div>
        </div>
    </div>

</div>

{% endblock %}