{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}

<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Profile - View Profile</div>
            <p class="content-sub-header"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row px-3 py-3">
                        <div class="col-xl-6 d-flex flex-md-row flex-sm-column flex-column align-items-md-start align-items-sm-start align-items-start">
                            {% if data['data']['profile_pic'] %}
                            <img id="profile_pic" src="static/img/{{ data['data']['profile_pic'] }}"
                                 class="img-border width-150" alt="Card image" height="150px"
                                 width="150px">
                            {% else %}
                            <img id="profile_pic" src="static/img/fixed_image.png"
                                 class="img-border width-150" alt="Card image">
                            {% endif %}
                            <div class="user">
                                <h4 class="nickname">{{data['data']['first_name'] }} {{data['data']['last_name']
                                    }}</h4>
                                <div class="user_content">
                                    <div class="role">Role: {{data['data']['role'] }}</div>
                                    <div class="subscription">Subscription Type : {{type}}</div>
                                </div>
                                <a href="/upgrade">
                                    <button id="upgrade-button" class="btn btn-raised bg-color1 color-white text-capitalize" type="button"
                                        data-toggle="tooltip" title="Feature Coming Soon">
                                        Upgrade Here
                                    </button>
                                </a>

                            </div>
                        </div>
                        <div class="col-xl-6 mt-2">
                            <h6 class="social-media_title">Social media accounts</h6>
                            <div class="social-media">
                                {% if data['data']['facebook_url'] %}
                                <a href="{{ data['data']['facebook_url'] }}" class="social-media_icon fa fa-facebook-square"
                                   title="facebook"></a>
                                {% else %}
                                <a href="#" class="social-media_icon none-active fa fa-facebook-square"
                                   title="facebook"></a>
                                {% endif %}
                                {% if data['data']['twitter_url'] %}
                                <a href="{{ data['data']['twitter_url'] }}" class="social-media_icon fa fa-twitter"
                                   title="twitter"></a>
                                {% else %}
                                <a href="#" class="social-media_icon none-active fa fa-twitter"
                                   title="twitter"></a>
                                {% endif %}
                                {% if data['data']['insta_url'] %}
                                <a href="{{ data['data']['insta_url'] }}" class="social-media_icon fa fa-instagram" title="instagram"></a>
                                {% else %}
                                <a href="#" class="social-media_icon none-active fa fa-instagram "
                                   title="instagram"></a>
                                {% endif %}
                                {% if data['data']['youtube_url'] %}
                                <a href="{{ data['data']['youtube_url'] }}" class="social-media_icon fa fa-youtube"
                                   title="youtube"></a>
                                {% else %}
                                <a href="#" class="social-media_icon none-active fa fa-youtube"
                                   title="youtube"></a>
                                {% endif %}
                                <!--<a href="#" target="_blank" class="fa fa-plus grey" title="plus" style="font-size:40px;"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row px-3 py-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Username:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{{data['data']['first_name'] }} {{data['data']['last_name'] }} </span>
                                    </div>
                                </div>
                                <!--<div class="row" style="margin-bottom: 10px;">-->
                                <!--<b style="font-weight:450;">Role:</b> &nbsp;-->
                                <!--<span class="display-block overflow-hidden">{% if data['data']['role'] == '' %}-->
                                <!--Admin-->
                                <!--{% else %}-->
                                <!--{{ data['data']['role'] }}-->
                                <!--{% endif %} </span>-->
                                <!--</div>-->
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Position:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">
                                            {{ data['data']['position'] }}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Telephone:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">
                                           {% if data['data']['phone'] == '' %}

                                                        {% else %}
                                                        {{ data['data']['phone'] }}
                                                        {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Email:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{{data['data']['email_id'] }}</span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Country:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{% if data['data']['country'] == '' %}

                                                                                    {% else %}
                                                                                    {{ data['data']['country'] }}
                                                                                    {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Business Sector:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{% if data['data']['business_sector'] == '' %}

                                                                                    {% else %}
                                                                                    {{ data['data']['business_sector'] }}
                                                                                    {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Company Website:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{%  if data['data']['url'] == '' %}

                                            {% else %}
                                            {{ data['data']['url'] }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >Company Size:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">
                                                {% if data['data']['no_of_employees'] == '' %}

                                                {% else %}
                                                {{ data['data']['no_of_employees'] }}
                                                {% endif %}
                                       </span>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-5">
                                        <b >City:</b>
                                    </div>
                                    <div class="col-7">
                                        <span class="display-block overflow-hidden">{% if data['data']['city'] == '' %}

                                                                                    {% else %}
                                                                                    {{ data['data']['city'] }}
                                                                                    {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="team-members" id="team-members" style="pointer-events: visible;opacity: 1;">
                            <div class="row" style="margin:2%;">
                                <b>Team Members(2) : </b>
                            </div>
                            <div class="row" style="margin:2%">
                                <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                                    <img src="static/img/fixed_image.png" data-toggle="tooltip"
                                         title="Feature Coming Soon" class="img-border gradient-summer width-100"
                                         alt="Card image">
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                                    <img src="static/img/fixed_image.png" data-toggle="tooltip"
                                         title="Feature Coming Soon" class="img-border gradient-summer width-100"
                                         alt="Card image">
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 mb-1">
                                    <img src="static/img/fixed_image.png" data-toggle="tooltip"
                                         title="Feature Coming Soon" class="img-border gradient-summer width-100"
                                         alt="Card image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--my code for displaying subscription page.-->
<script>
    var value='{{subscriptionData}}';
    var readyString=value.replace(/&#39;/g,'"');
    var subscriptionData=JSON.parse(readyString)['data'];
    console.log("heloo ji",subscriptionData)
    var package_name='{{type}}';
    console.log(package_name)
    if(package_name=='Free'){

    }
    else if(package_name=='Basic'){

    }
    else if(package_name=='Professional'){

    }
    else if(package_name=='Enterprise'){

    }

</script>

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
{% endblock %}