{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<div class="container-fluid payment__view">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Payment - View Funds</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <th>Invoice Id</th>
                            <th>Date</th>
                            <th>Receiver</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            {% for item in data['data'] %}
                            <tr>
                                <td>{{ item['invoice_id'] }}</td>
                                <td>{{ item['date'] }}</td>
                                <td>{{ item['email_id'] }}</td>
                                <td>{{ item['amount'] }}</td>
                                <td>{{ item['description'] }}</td>
                                <td><a href="{{item['receipt_url']}}" class="btn hoverable" target="_blank">Receipt</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

