{% extends 'admin_layout.html' %}
{{ super() }}
{% block body %}
<div class="email-application">
    <div class="content-overlay"></div>
    <!--<div class="email-app-sidebar float-left d-none d-xl-block">-->
        <!--<div class="email-app-sidebar-content">-->
            <!--<div class="email-app-menu">-->
                <!--&lt;!&ndash;<div class="form-group form-group-compose text-center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="/compose">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-raised btn-danger btn-block my-2">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="ft-mail"></i> Compose</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<h6 class="text-muted text-bold-500 mb-1">Messages</h6>-->
                <!--<div class="list-group list-group-messages">-->
                    <!--<a class="list-group-item active no-border">-->
                        <!--<i class="ft-inbox mr-1"></i> Inbox-->
                        <!--<span class="badge badge-dark badge-pill float-right">8</span>-->
                    <!--</a>-->
                    <!--<a class="list-group-item list-group-item-action no-border">-->
                        <!--<i class="fa fa-paper-plane-o mr-1"></i> Sent</a>-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-file mr-1"></i> Draft</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-star mr-1"></i> Starred&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="badge badge-danger badge-pill float-right">3</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--<a class="list-group-item list-group-item-action no-border">-->
                        <!--<i class="ft-trash-2 mr-1"></i> Trash</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;<h6 class="text-muted text-bold-500 mt-1 mb-1">Labels</h6>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="list-group list-group-messages">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-circle mr-1 warning"></i> Work&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="badge badge-warning badge-pill float-right">5</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-circle mr-1 danger"></i> Family</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-circle mr-1 primary"></i> Friends</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="list-group-item list-group-item-action no-border">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="ft-circle mr-1 success"></i> Private&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="badge badge-success badge-pill float-right">3</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="email-search-box w-100 bg-white p-2">
            <div class="media">
                <span class="email-app-sidebar-toggle ft-align-justify font-large-1 mr-2 d-xl-none"></span>
                <div class="media-body">
                    <input type="text" class="form-control round" placeholder="search for emails">
                </div>
            </div>
        </div>
        <div class="email-app-content-area w-100">
            <div class="email-app-list-mails">
                <div class="email-app-list">
                    <div id="users-list">
                        <div class="list-group">
                            <div class="users-list-padding">
                                {% for item in inbox['data'] %}
                                <a id="message{{ item['message_id'] }}" class="list-group-item list-group-item-action no-border" href="/inbox/{{ item['message_id'] }}" >
                                    <span class="media">
                                        <span class="avatar avatar-md mr-2">
                                            {% if item['img'] %}
                                            <img class="media-object rounded-circle" src="static/app-assets/img/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                            {% else %}
                                            <span class="media-object rounded-circle text-circle d-flex mr-2 justify-content-center align-items-center bg-blue">{{ item['first_name'][0] }}</span>
                                            {% endif %}
                                        </span>
                                        <div class="media-body">
                                            <h6 class="list-group-item-heading">{{ item['first_name'] }}
                                                <span class="font-small-2 float-right">{{ item['date'] }}</span>
                                            </h6>
                                            <p class="list-group-item-text text-truncate">
                                                <strong>{{ item['subject'] }}</strong>
                                            </p>
                                            <!--<span class="badge badge-warning badge-pill float-right">{{ length_conv }}</span>-->
                                            <div class="list-group-item-text text-truncate">{{ item['message'] }}
                                                <!--<span class="float-right primary">-->
                                                    <!--<span class="badge badge-success mr-1">Private</span>-->
                                                    <!--<i class="font-medium-1 ft-star warning"></i>-->
                                                <!--</span>-->
                                            </div>
                                        </div>
                                    </span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="email-app-mail-content">
                <div class="email-app-mail-content-detail">
                    <div class="email-app-options card-block">
                        <div class="row d-md-none">
                            <button class="btn btn-raised btn-primary ml-2 back-to-inbox">
                                <i class="fa fa-angle-left"></i> Back to inbox</button>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <!--<div class="btn-group" role="group" aria-label="Basic example">-->
                                    <!--<button  type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Reply">-->
                                        <!--<i class="fa fa-reply"></i>-->
                                    <!--</button>-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Reply All">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="fa fa-reply-all"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Report SPAM">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<i class="ft-alert-octagon"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Delete">-->
                                        <!--<i class="ft-trash-2"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                            <div class="col-sm-6 col-12 text-right">
                                <!--<div class="btn-group" role="group" aria-label="Basic example">-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Previous">-->
                                        <!--<i class="fa fa-angle-left"></i>-->
                                    <!--</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Next">-->
                                        <!--<i class="fa fa-angle-right"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div class="btn-group ml-1">-->
                                    <!--<div placement="bottom-right" class="d-inline-block">-->
                                        <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"-->
                                                <!--aria-expanded="false">More</button>-->
                                        <!--<div class="dropdown-menu">-->
                                            <!--<a class="dropdown-item" href="#">Mark as unread</a>-->
                                            <!--<a class="dropdown-item" href="#">Mark as unimportant</a>-->
                                            <!--<a class="dropdown-item" href="#">Add star</a>-->
                                            <!--<a class="dropdown-item" href="#">Add to task</a>-->
                                            <!--<div class="dropdown-divider"></div>-->
                                            <!--<a class="dropdown-item" href="#">Filter mail</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <h3 class="list-group-item-heading">{{ conv_title }}</h3>

                    <!--<div class="email-app-title card-block">-->
                        <!--&lt;!&ndash;{% for item in full_conv['data'] %}&ndash;&gt;-->
                        <!---->
                        <!--&lt;!&ndash;<p class="list-group-item-text">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="primary">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span class="badge badge-primary">Previous</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;&lt;!&ndash;<i class="float-right font-medium-3 ft-star warning"></i>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
                    <!--</div>-->
                    {% for item in full_conv['data'] %}
                    <div class="media-list">
                        <div id="heading{{ item['collapse_id'] }}" class="card-header p-0">
                            <a data-toggle="collapse" href="#{{ item['collapse_id'] }}" aria-expanded="true" aria-controls="{{ item['collapse_id'] }}" class="collapsed email-app-sender list-group-item list-group-item-action no-border bg-blue-grey bg-lighten-5">
                                <span class="media">
                                    <span class="avatar avatar-md mr-2">
                                            {% if item['img'] %}
                                            <img class="media-object rounded-circle" src="static/app-assets/img/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                                            {% else %}
                                            <span class="media-object rounded-circle text-circle d-flex mr-2 justify-content-center align-items-center bg-purple">{{ item['first_name'][0] }}</span>
                                            {% endif %}
                                        </span>
                                    <div class="media-body">
                                        <h6 class="list-group-item-heading">{{ item['first_name'] }}
                                         {% if item['to_email_id'] == session['email_id'] %}
                                        <span class="float-right text muted"><button onclick="location.href='/reply/{{ item['message_id'] }}/{{ item['from_email_id'] }}/{{ item['subject'] }}'" class="btn btn-sm btn-outline-secondary">reply</button></span>
                                         {% endif %}
                                        </h6>
                                        <p class="list-group-item-text">{{ item['subject'] }}
                                            <span class="float-right text muted">{{ item['date'] }}</span>
                                        </p>
                                    </div>
                                </span>
                            </a>
                        </div>
                        <div id="{{ item['collapse_id'] }}" role="tabpanel" aria-labelledby="heading{{ item['collapse_id'] }}" class="card-collapse collapse" aria-expanded="true">
                            <div class="card-body">
                                <div class="card-block">
                                    {{ item['message'] }}
                                </div>
                            </div>
                        </div>
                        <!--<div class="email-app-text-action card-body">-->

                        <!--</div>-->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!--<div id="compose-mail" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->

    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title">Modal Header</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--<p>Some text in the modal.</p>-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->


{% endblock %}

